<div id="po-table">
    <div class="grid-column">
        <div></div>
        <div id="curriculum-level-strand-title-dddo"  class="curriculum-level-strand-title justify-content-center">
            DDDO
        </div>
        <div id="curriculum-level-strand-title-ct" class="curriculum-level-strand-title justify-content-center">
            CT
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 1
        </div>
        <div class="curriculum-level-node curriculum-level-dddo">
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            {% include widget.optgroups.1.1.0.template_name with choice=widget.optgroups.1.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 2
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
            {% include widget.optgroups.9.1.0.template_name with choice=widget.optgroups.9.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct">
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 3
        </div>
        <div class="curriculum-level-node curriculum-level-dddo">
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-center">
            {% include widget.optgroups.2.1.0.template_name with choice=widget.optgroups.2.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 4
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
            {% include widget.optgroups.10.1.0.template_name with choice=widget.optgroups.10.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-center">
            {% include widget.optgroups.3.1.0.template_name with choice=widget.optgroups.3.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 5
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            {% include widget.optgroups.11.1.0.template_name with choice=widget.optgroups.11.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-around">
            {% include widget.optgroups.4.1.0.template_name with choice=widget.optgroups.4.1.0 %}
            {% include widget.optgroups.5.1.0.template_name with choice=widget.optgroups.5.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 6
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            {% include widget.optgroups.12.1.0.template_name with choice=widget.optgroups.12.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            {% include widget.optgroups.6.1.0.template_name with choice=widget.optgroups.6.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 7
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            {% include widget.optgroups.13.1.0.template_name with choice=widget.optgroups.13.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            {% include widget.optgroups.7.1.0.template_name with choice=widget.optgroups.7.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 8
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            {% include widget.optgroups.14.1.0.template_name with choice=widget.optgroups.14.1.0 %}
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            {% include widget.optgroups.8.1.0.template_name with choice=widget.optgroups.8.1.0 %}
        </div>
    </div>
    <div id="po-label-1-10" class="po-label">Progress outcomes for years 1-10</div>
    <div id="po-label-ncea-1" class="po-label">NCEA 1</div>
    <div id="po-label-ncea-2" class="po-label">NCEA 2</div>
    <div id="po-label-ncea-3" class="po-label">NCEA 3</div>
</div>
<div id="extra-choices" class="my-3 d-flex justify-content-around">
    {% include widget.optgroups.0.1.0.template_name with choice=widget.optgroups.0.1.0 %}
    {% include widget.optgroups.15.1.0.template_name with choice=widget.optgroups.15.1.0 %}
</div>
