<div id="po-table">
    <div class="grid-column">
        <div></div>
        <div id="curriculum-level-strand-title-dddo"  class="curriculum-level-strand-title justify-content-center">
            DDDO
        </div>
        <div id="curriculum-level-strand-title-ct" class="curriculum-level-strand-title justify-content-center">
            CT
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 1
        </div>
        <div class="curriculum-level-node curriculum-level-dddo">
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            {% include widget.optgroups.0.1.0.template_name with widget=widget.optgroups.0.1.0 %}
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 2
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-1" name="{{ widget.name }}" value="PO-DDDO-1" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-1">
                    PO1
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct">
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 3
        </div>
        <div class="curriculum-level-node curriculum-level-dddo">
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-center">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-2" name="{{ widget.name }}" value="PO-CT-2" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-2">
                    PO2
                </label>
            </div>
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 4
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-2" name="{{ widget.name }}" value="PO-DDDO-2" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-2">
                    PO2
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-center">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-3" name="{{ widget.name }}" value="PO-CT-3" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-3">
                    PO3
                </label>
            </div>
        </div>
    </div>
    <div class="grid-column curriculum-level-content">
        <div class="curriculum-level-title">
            Level 5
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-3" name="{{ widget.name }}" value="PO-DDDO-3" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-3">
                    PO3
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-around">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-4" name="{{ widget.name }}" value="PO-CT-4" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-4">
                    PO4
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-5" name="{{ widget.name }}" value="PO-CT-5" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-5">
                    PO5
                </label>
            </div>
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 6
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-4" name="{{ widget.name }}" value="PO-DDDO-4" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-4">
                    PO4
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-6" name="{{ widget.name }}" value="PO-CT-6" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-6">
                    PO6
                </label>
            </div>
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 7
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-5" name="{{ widget.name }}" value="PO-DDDO-5" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-5">
                    PO5
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-7" name="{{ widget.name }}" value="PO-CT-7" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-7">
                    PO7
                </label>
            </div>
        </div>
    </div>
    <div class="grid-column curriculum-level-content ncea">
        <div class="curriculum-level-title">
            Level 8
        </div>
        <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-DDDO-6" name="{{ widget.name }}" value="PO-DDDO-6" class="custom-control-input">
                <label class="custom-control-label" for="PO-DDDO-6">
                    PO6
                </label>
            </div>
        </div>
        <div class="curriculum-level-node curriculum-level-ct justify-content-end">
            <div class="custom-control custom-radio">
                <input type="radio" id="PO-CT-8" name="{{ widget.name }}" value="PO-CT-8" class="custom-control-input">
                <label class="custom-control-label" for="PO-CT-8">
                    PO8
                </label>
            </div>
        </div>
    </div>
    <div id="po-label-1-10" class="po-label">Progress outcomes for years 1-10</div>
    <div id="po-label-ncea-1" class="po-label">NCEA 1</div>
    <div id="po-label-ncea-2" class="po-label">NCEA 2</div>
    <div id="po-label-ncea-3" class="po-label">NCEA 3</div>
</div>
<div id="extra-choices" class="my-3 d-flex justify-content-around">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="choice-none" name="{{ widget.name }}" value="NONE" class="custom-control-input">
        <label class="custom-control-label" for="choice-none">
            Does not apply
        </label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="choice-dont-know" name="{{ widget.name }}" value="UNKNOWN" class="custom-control-input">
        <label class="custom-control-label" for="choice-dont-know">
            Don't know
        </label>
    </div>
</div>
