<div id="po-table">
    <div id="po-label-1-10" class="po-label">Progress outcomes for years 1-10</div>
    <div class="po-label ncea">NCEA 1</div>
    <div class="po-label ncea">NCEA 2</div>
    <div class="po-label ncea">NCEA 3</div>
    <div id="curriculum-level-strand-title-dddo"  class="curriculum-level-strand-title justify-content-center">
        DDDO
    </div>
    <div class="curriculum-level-node curriculum-level-dddo">
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
        {% if not statistics %}
            {% include widget.optgroups.9.1.0.template_name with choice=widget.optgroups.9.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-1' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-dddo">
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-center">
        {% if not statistics %}
            {% include widget.optgroups.10.1.0.template_name with choice=widget.optgroups.10.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-2' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.11.1.0.template_name with choice=widget.optgroups.11.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-3' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.12.1.0.template_name with choice=widget.optgroups.12.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-4' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.13.1.0.template_name with choice=widget.optgroups.13.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-5' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-dddo justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.14.1.0.template_name with choice=widget.optgroups.14.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-DDDO-6' %}
        {% endif %}
    </div>
    <div id="curriculum-level-strand-title-ct" class="curriculum-level-strand-title justify-content-center">
        CT
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.1.1.0.template_name with choice=widget.optgroups.1.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-1' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct">
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-center">
        {% if not statistics %}
            {% include widget.optgroups.2.1.0.template_name with choice=widget.optgroups.2.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-2' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-center">
        {% if not statistics %}
            {% include widget.optgroups.3.1.0.template_name with choice=widget.optgroups.3.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-3' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-around">
        {% if not statistics %}
            {% include widget.optgroups.4.1.0.template_name with choice=widget.optgroups.4.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-4' %}
        {% endif %}
        {% if not statistics %}
            {% include widget.optgroups.5.1.0.template_name with choice=widget.optgroups.5.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-5' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.6.1.0.template_name with choice=widget.optgroups.6.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-6' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.7.1.0.template_name with choice=widget.optgroups.7.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-7' %}
        {% endif %}
    </div>
    <div class="curriculum-level-node curriculum-level-ct justify-content-end">
        {% if not statistics %}
            {% include widget.optgroups.8.1.0.template_name with choice=widget.optgroups.8.1.0 %}
        {% else %}
            {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'PO-CT-8' %}
        {% endif %}
    </div>
</div>
<div id="extra-choices" class="mt-2 d-flex justify-content-around">
    {% if not statistics %}
        {% include widget.optgroups.0.1.0.template_name with choice=widget.optgroups.0.1.0 %}
    {% else %}
        {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'NONE' %}
    {% endif %}
    {% if not statistics %}
        {% include widget.optgroups.15.1.0.template_name with choice=widget.optgroups.15.1.0 %}
    {% else %}
        {% include progress_outcome_widget with progress_outcome=progress_outcomes|get_item:'UNKNOWN' %}
    {% endif %}
</div>
