{% extends "dtta/base.html" %}

{% block page_heading %}
    <h1>What is DTTA?</h1>
{% endblock page_heading %}

{% block content %}
    <p class="lead">
        The <strong>Digital Technologies Teachers Aotearoa</strong> is an association with the goal of advocating for our subjects.
        The aim of the association is to create a community of teachers where we can share resources, communicate and speak with one voice to get our subject area recognised and supported.
    </p>

    <p>DTTA was formed for the following purposes:</p>

    <ol type="a">
        <li>
            Strengthen, encourage and improve the teaching of a broad range of Computing, Digital and Information Technologies in New Zealand secondary schools.
        </li>
        <li>
            Promote, advance, support and guide teachers of a broad range of Computing, Digital and Information Technologies (herein after referred to as “the subject”) in New Zealand secondary schools.
        </li>
        <li>
            Facilitate, negotiate and foster links/consultation between teachers/educators and government institutions on any matters relating to the subject.
        </li>
        <li>
            Assist in the development, maintenance and review of the subject guidelines.
        </li>
        <li>
            Promote the education, professional development and up-skilling of its members.
        </li>
        <li>
            Assist teachers of the subject to keep up to date with current practice, and tertiary and industry developments.
        </li>
        <li>
            Promote and advance the profile/image of the subject to students, government and educational institutions, IT professionals/organizations, industry and the public.
        </li>
    </ol>

    <p>These things make up the Mission of DTTA.</p>
<p class="lead">
  DTTA Committee 2019
</p>
<p>
  <strong>2019 Committee</strong><br />
President: Gerard MacManus - Hobsonville Point Secondary School<br />
Secretary: Witarina Owens - Kuranui College<br />
Treasurer: John Creighton - Burnside High School<br />
Past President: Vacant<br />
</p>
<p>
  <strong>Committee Members</strong><br />
Chris Dillon - Cambridge High School<br />
Ruth Heeney - Te Kura Kaupapa Māori of Te Waiū o Ngati Porou<br />
Ruth Davey - Lincoln High School<br />
Sarah Washbrooke - Remarkables Primary School<br />
Malcolm Clarke - Kowhai Intermediate<br />
Tim Harford - Wellington Girls' College<br />
Tracy Henderson - University of Canterbury<br />
Wī McNabb - Te Kura Kaupapa Māori o Ngāti Kahungunu o Te Wairoa<br />
</p>
{% endblock content %}
