{% extends "base-branded.html" %}

{% load static %}

{% block secondary_navbar %}
    <nav id="dtta-navbar" class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSecondaryContent"
          aria-controls="navbarSecondaryContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'dtta:home' %}">
          <img class="d-inline-block align-top navbar-logo" src="{% static 'img/logos/dtta-logo-white-text-without-subtitle.svg' %}">
        </a>

        <div class="collapse navbar-collapse" id="navbarSecondaryContent">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dtta:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dtta:membership' %}">Membership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dtta:news_article_list' %}">News</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dttaCurriculumLinks" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Curricula
              </a>
              <div class="dropdown-menu" aria-labelledby="dttaCurriculumLinks">
                <a class="dropdown-item" href="http://nzcurriculum.tki.org.nz/The-New-Zealand-Curriculum/Technology">Digital Technologies</a>
                <a class="dropdown-item" href="http://hangaraumatihiko.tki.org.nz/">Hangarau Matihiko</a>
              </div>
            </li>
            {% if DTTA_PLANNING_PAGES %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dttaPlanningLinks" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Planning
                </a>
                <div class="dropdown-menu" aria-labelledby="dttaPlanningLinks">
                  {% for page in DTTA_PLANNING_PAGES %}
                    <a class="dropdown-item" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
            {% if DTTA_DOCUMENT_PAGES %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dttaPlanningLinks" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="dttaPlanningLinks">
                  {% for page in DTTA_DOCUMENT_PAGES %}
                    <a class="dropdown-item" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
            {% if DTTA_PROJECTS %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dttaPlanningLinks" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="dttaPlanningLinks">
                  {% for project in DTTA_PROJECTS %}
                    <a class="dropdown-item" href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock secondary_navbar %}

{% block logo_reorder %}
 order-first
{% endblock logo_reorder %}
