{% extends "base.html" %}

{% block secondary_navbar %}
    <nav id="dtta-navbar" class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSecondaryContent"
          aria-controls="navbarSecondaryContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSecondaryContent">
          <div class="navbar-nav w-100">
            <a class="nav-item nav-link disabled" href="#">Membership</a>
            <a class="nav-item nav-link disabled" href="#">News</a>
          </div>
        </div>
      </div>
    </nav>
{% endblock secondary_navbar %}
