{% extends "dtta/base.html" %}

{% load static markdown %}

{% block page_heading %}
    <img class="logo-header img-fluid mx-auto d-block m-3" src="{% static 'img/logos/dtta-logo.png' %}">
{% endblock page_heading %}

{% block content %}
    <p class="lead">
        The Digital Technologies Teachers Aotearoa is an association with the goal of advocating for our subjects.
        The aim of the association is to create a community of teachers where we can share resources, communicate and speak with one voice to get our subject area recognised and supported.
    </p>

    <div class="row">
        <div class="col-12 col-md-6 my-4">
            <a href="{% url 'dtta:about' %}" class="btn btn-block btn-dtta">
                Find out more about DTTA
            </a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <a href="{% url 'dtta:membership' %}" class="btn btn-block btn-dtta">
                Read about joining DTTA
            </a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <h3>Latest news</h3>
            {% for news_article in latest_news_articles %}
                <p class="mb-1">
                    <span class="text-muted">{{ news_article.datetime|date:"SHORT_DATE_FORMAT" }} -</span>
                    <a href="{% url 'dtta:news_article' news_article.pk %}">
                        {{ news_article.title }}
                    </a>
                </p>
            {% endfor %}
            <a href="{% url 'dtta:news_article_list' %}" class="btn btn-dtta my-3">View all news articles</a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <h3>Related links</h3>
            <ul>
                {% for related_link in related_links %}
                    <li>
                        <a href="{{ related_link.url }}" target="_blank">
                            {{ related_link.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if latest_news_articles %}

    {% endif %}
{% endblock content %}
