{% extends "dtta/base.html" %}

{% load static humanize %}

{% block page_heading %}
    <img class="logo-header img-fluid mx-auto d-block p-3" src="{% static 'img/logos/dtta-logo.svg' %}">
{% endblock page_heading %}

{% block content %}
    <p class="lead">
        The Digital Technologies Teachers Aotearoa is an association with the goal of advocating for our subjects.
        The aim of the association is to create a community of teachers where we can share resources, communicate and speak with one voice to get our subject area recognised and supported.
    </p>

    <div class="row">
        <div class="col-12 col-md-6 my-4">
            <a href="{% url 'dtta:about' %}" class="btn btn-block btn-lg btn-dtta-primary">
                Find out more about DTTA
            </a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <a href="{% url 'dtta:membership' %}" class="btn btn-block btn-lg btn-dtta-secondary">
                Read about joining DTTA
            </a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <h3>Latest news</h3>
            {% for news_article in latest_news_articles %}
                <div class="row mb-2 no-gutters">
                    <div class="col-3">
                        <span class="text-muted">{{ news_article.datetime|naturalday:"DATE_FORMAT"|capfirst }}</span>
                    </div>
                    <div class="col">
                        <a href="{{ news_article.get_absolute_url }}">
                            {{ news_article.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'dtta:news_article_list' %}" class="btn btn-dtta-primary my-3">View all news articles</a>
        </div>
        <div class="col-12 col-md-6 my-4">
            <h3>Links</h3>
            <ul>
                {% for related_link in related_links %}
                    <li>
                        <a href="{{ related_link.url }}" target="_blank">
                            {{ related_link.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
