{% extends "dtta/base.html" %}


{% block page_heading %}
    <h1>Membership information</h1>
{% endblock page_heading %}

{% block content %}
    <p>
        DTTA continues to be a strong subject association with membership on the Google Discussion group up to 600 participants on average since starting in 2009.
        The DTTA Mobilise Discussion group has proven to be an excellent forum for members to share ideas and resources that help to improve and support teaching and learning programmes in Digital Technologies.
    </p>

    <p>
        However, the growth in the list membership and volume of the discussion has also posed challenges.
        The valuable information contained within these discussions can easily be lost or missed and the Google group platform does not provide an easy method to create more targeted discussions (for example within a regional area), organised resource sharing, or membership management tools.
    </p>

    <p>
        Therefore, the DTTA National Executive Committee has spent considerable time researching other platforms that will facilitate member communication, resource sharing, targeted discussion and membership management.
        From the research, the Committee has selected the platform <b>Mobilize</b>.
        This is an exciting step for the subject association and one that promises to take our already robust communication to the next level.
    </p>

    <p>
        When registering with DTTA Mobilize, you will notice that you will be asked to provide a greater level of detail
        than in our previous registration process.
        This information is being gathered so that we can obtain more accurate information about our membership’s professional development needs, facilitate cross-moderation between members and provide a means for more targeted discussions to occur when they are appropriate.
        We are also hoping to use this information to better support organisation of our DTTA regional groups.
        Please click on the link below to fill out the registration form and join the new DTTA Mobilize group
    </p>

    <p>
        <a class="btn btn-primary" href="https://nzacditt.mobilize.io/registrations/groups/4021">
            Register for DTTA here
        </a>
    </p>

    <p>
        Current Membership Dues are $50 for a year.
    </p>
{% endblock content %}
