{% extends "dtta/base.html" %}

{% block page_heading %}
    <h1>News articles</h1>
{% endblock page_heading %}

{% block content %}
    {% if news_articles %}
        {% for news_article in news_articles %}
            <div class="row mb-2 no-gutters">
                <div class="col-auto mr-3">
                    <span class="text-muted">{{ news_article.datetime|date:"SHORT_DATE_FORMAT" }}</span>
                </div>
                <div class="col">
                    <a href="{% url 'dtta:news_article' news_article.pk %}">
                        {{ news_article.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No news articles available.</p>
    {% endif %}
{% endblock content %}
