{% extends "dtta/base.html" %}

{% block page_heading %}
    <h1>{{ news_article.title }}</h1>

    <p><strong>Date:</strong> {{ news_article.datetime|date:"SHORT_DATE_FORMAT" }}</p>

    {% if news_article.source %}
        <p><strong>Source:</strong>
            {% if news_article.source.website %}
                <a href="{{ news_article.source.website }}" target="_blank">
            {% endif %}
            {% if news_article.source.logo %}
                <img src="{{ news_article.source.logo.url }}" class="img-inline">
            {% else %}
                {{ news_article.source.name }}
            {% endif %}
            {% if news_article.source.website %}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 col-md-10 col-lg-8">
        {{ news_article.content|safe }}
    </div>
{% endblock content_container %}
