{% extends "base-branded.html" %}

{% load static svg %}

{% block body_container %}
    <div id="welcome-jumbotron" class="jumbotron jumbotron-fluid py-4 mb-0">
        {% if messages %}
            <div class="container" id="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show my-3" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="https://github.com/uccser/dthm4kaiako/releases" id="version-badge" class="badge badge-warning">
                        Alpha {{ VERSION_NUMBER }}
                    </a>
                    {% svg 'dthm4kaiako-logo-optimised' %}
                    {% if STAGING_ENVIRONMENT %}
                        <div class="mb-4">
                            <div class="alert alert-warning d-inline-block" role="alert">
                                You are viewing the test server, which only contains fake data for testing purposes.
                            </div>
                            <br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="lead-container" class="container-fluid text-center mb-4 pt-3">
        <div class="container">
            <p class="lead">
                A website for New Zealand Digital Technology and Hangarau Matihiko educators, created by:
            </p>
            {% spaceless %}
                <div id="lead-logos" class="flex align-items-center">
                    <a href="https://www.canterbury.ac.nz/engineering/schools/csse/research/cse/">
                        <img src="{% static 'img/logos/uc-computer-science-education-logo-padded.png' %}">
                    </a>
                    <a href="{% url 'dtta:home' %}">
                        <img src="{% static 'img/logos/dtta-logo.svg' %}">
                    </a>
                    <a href="https://www.facebook.com/aateasolutions/">
                        <img src="{% static 'img/logos/aatea-logo-padded.png' %}">
                    </a>
                </div>
            {% endspaceless %}
        </div>
    </div>

    <div id="calls-to-action" class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="cta" id="cta-get-started">
                    {% svg 'icons8-circled-play' %}
                    <div class="card-body">
                        <h5 class="card-title text-center">Get Started</h5>
                        <p class="card-text">
                            View our guide on how to get started with Digital Technologies and Hangarau Matihiko.
                        </p>
                    </div>
                    <a class="btn" href="{% url 'get_started:home' %}" role="button">
                        View get started guide
                    </a>
                    <div class="card-footer text-muted text-center">
                        Under development
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="cta" id="cta-resources">
                    {% svg 'icons8-versions' %}
                    <div class="card-body">
                        <h5 class="card-title text-center">Resources</h5>
                        <p class="card-text">
                            Find resources for teaching Digital Technologies & Hangarau Matihiko curricula.
                        </p>
                    </div>
                    <a class="btn" href="{% url 'resources:home' %}" role="button">
                        View resources
                    </a>
                    <div class="card-footer text-muted text-center">
                        <strong>{{ resource_count }}</strong> available resources
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="cta" id="cta-events">
                    {% svg 'icons8-classroom' %}
                    <div class="card-body">
                        <h5 class="card-title text-center">Events</h5>
                        <p class="card-text">
                            Find and register for professional development events throughout New Zealand.
                        </p>
                    </div>
                    <a class="btn" id="btn-events" href="{% url 'events:home' %}" role="button">
                        View events
                    </a>
                    <div class="card-footer text-muted text-center">
                        <strong>{{ upcoming_events }}</strong> upcoming events
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="cta" id="cta-dtta">
                    {% svg 'icons8-user-groups' %}
                    <div class="card-body">
                        <h5 class="card-title text-center">Community</h5>
                        <p class="card-text">
                            Join the Digital Technologies Teachers Aotearoa association.
                        </p>
                    </div>
                    <a class="btn" href="{% url 'dtta:home' %}" role="button">
                        View DTTA homepage
                    </a>
                    <div class="card-footer text-muted text-center">
                        <strong>1,000+</strong> members
                    </div>
                </div>
            </div>

            {% if featured_event %}
                <div class="col-12 my-3" id="featured-event-container">
                    {% include 'events/event_card.html' with event=featured_event %}
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="cta">
                    <img class="card-img-top" src="{% static 'img/icons/icons8-about-100.png' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center">About</h5>
                        <p class="card-text">
                            Learn more about the history, purpose, and plans of this website.
                        </p>
                    </div>
                    <a class="btn" id="btn-events" href="{% url 'general:about' %}" role="button">
                        View about page
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="cta">
                    <img class="card-img-top" src="{% static 'img/icons/icons8-faq-100.png' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center">Frequently Asked Questions</h5>
                        <p class="card-text">
                            Have a question about the website? Have a look for the answer within the FAQ.
                        </p>
                    </div>
                    <a class="btn" id="btn-events" href="{% url 'general:faq' %}" role="button">
                        View FAQ page
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body_container %}
