{% extends "events/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_heading %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>{{event.name}}</h1>
    </div>
{% endblock page_heading %}

{% block content %}
<div class="container" style="max-width:600px">
    <form method="post">

        {% csrf_token %}

        <h5>
            <b>Personal Information</b>
        </h5>
        {{ user_form|crispy }}
        {{ event_application_form|crispy }}

        {% if event.has_attendance_fee %}
            <h5>
                <b>Billing Information</b>
            </h5>
            {{billing_details_form|crispy}}
        {% endif %}

        <div class="form-group">
            <h5>
                <b>Terms and Conditions</b>
            </h5>
            {{ event.registration_form.terms_and_conditions }}
        </div>
        {{ terms_and_conditions_form|crispy }}

        <button type="submit" class="btn btn-primary">
            {{ event.get_event_type_short }}
        </button>

    </form>
</div>
{% endblock content %}