{% extends "events/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_heading %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>{{ event.get_event_type_short }} for {{event.name}}</h1>
    </div>

{% endblock page_heading %}

{% block content %}
<div class="container" style="max-width:600px">
    <form method="post">
       {% csrf_token %}

        <!-- TODO remove after debugging -->

        {% if event_application_form.errors %}
        {% for field in event_application_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% if user_update_details_form.errors %}
        {% for field in user_update_details_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% if terms_and_conditions_form.errors %}
        {% for field in terms_and_conditions_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% if billing_details_form.errors %}
        {% for field in billing_details_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% if participant_type_form.errors %}
        {% for field in participant_type_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}


        

        <h5>
            <b>Personal Information</b>
        </h5>

        <div class="pt-md-2 pb-md-2" style="font-style:italic; font-size: medium; color: grey;" >
            Your information has been auto loaded for your convenience.
            <br>
            Please ensure that it is correct.
        </div>

        {% crispy user_form %}

        {% for field in user_form.visible_fields %}  
            {% for fieldName, label in fieldLabels %}
                {% if fieldName == user_form  %}
                    <div>
                        <label>region</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if participant_type_form %}
            {% crispy participant_type_form %}
        {% endif %}

        {% crispy event_application_form %}

        {% if billing_required %}
            <h5>
                <b>Billing Information</b>
            </h5>
            {% crispy billing_details_form%}
        {% endif %}

        <div class="form-group">
            <h5>
                <b>Terms and Conditions</b>
            </h5>
            {{ event.registration_form.terms_and_conditions|safe }}

        </div>
        {% crispy terms_and_conditions_form %}

        {% if not application_exists %}
            <button type="submit" class="btn btn-primary">
                {{ event.get_event_type_short }}
            </button>
        {% else %}
            <button type="submit" class="btn btn-primary">
                {{ event.get_event_type_short_updating}}
            </button>
        {% endif %}

    </form>
</div>
{% endblock content %}
