{% load static humanize %}

<div class="event card mb-3 w-100">
    <div class="card-header title-header align-middle">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="mb-2">
                    <a href="{{ event_application.event.get_absolute_url }}" style="text-decoration: none;">
                        {{ event_application.event.name }}
                    </a>
                </h4>
                <h6>
                    <b>Status:</b> {{ event_application.status_string_for_user }}
                </h6>
                <h6>
                    <b>Date:</b> {{event_application.event.start_weekday_name}} {{ event_application.event.start }}
                </h6>
            </div>
            <div class="col-sm-4">

                <a class="btn btn-success m-2" href="{% url 'events:apply' event_application.event.pk %}" role="button">
                    Update application
                </a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning m-2" data-toggle="modal" data-target="#event-applications-withdraw-modal-{{event_application.pk}}">
                    Withdraw
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="event-applications-withdraw-modal-{{event_application.pk}}" tabindex="-1" role="dialog" aria-labelledby="event-application-withdraw-confirmation" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Withdraw application</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Are you sure you want to withdraw your application for <b>{{event_application.event.name}}</b>?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'events:delete_application_via_application_page' event_application.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="Yes">
                        </form>
                        </div>
                    </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
