{% extends "base.html" %}

{% load static %}

{% block secondary_navbar %}
  <nav id="events-navbar" class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSecondaryContent" aria-controls="navbarSecondaryContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="{% url 'events:home' %}">
        Events
      </a>

      <div class="collapse navbar-collapse" id="navbarSecondaryContent">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events:event_list' %}">All events</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock secondary_navbar %}
