{% extends "events/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_heading %}
    <h1>{{ event.name }}</h1>
{% endblock page_heading %}

{% block content %}
    <div>
        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Event Application Status Counts</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <b>Approved:</b> {{event.application_status_counts.approved}}
                    </div>
                    <div>
                        <b>Pending:</b> {{event.application_status_counts.pending}}
                    </div>
                    <div>
                        <b>Rejected:</b> {{event.application_status_counts.rejected}}
                    </div>
                    <div>
                        <b>Withdrawn:</b> {{event.application_status_counts.withdrawn}}
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock content %}