{% extends "events/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block body_element %}
  <body class="position-relative" data-spy="scroll" data-target="#event-navigation" data-offset="100">
{% endblock body_element %}

{% block page_heading %}
  <h1 class="display-4 mt-4">
    {{ event.name }}
  </h1>
{% endblock page_heading %}


{% block content_container %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ user_form|crispy }}
    <div class="form-group">
      <h4>Terms and conditions:</h4>
      {{ event.registration_form.terms_and_conditions }}
    </div>
    {{ event_form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
{% endblock content_container %}
