{% extends "events/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_heading %}
    <h1>{{ event.name }}</h1>
{% endblock page_heading %}

{% block content %}
    <div>

        <!-- Event Applications CSV -->
        <div>
            <a class="nav-link" href="{% url 'events:event_applications_csv' event_pk %}">
                Event Applications CSV
            </a>
        </div>

        <!-- Participant Billing Details CSV -->
        <div>
            <a class="nav-link" href="{% url 'events:participant_billing_details_csv' event_pk %}">
                Participant Billing Details CSV
            </a>
        </div>

        <!-- TODO: add breakpoint for these two columns to stack when mobile phone used -->
        <!-- Key Data Counts -->
        <div class="row" style="display: grid; grid-template-columns: 50% 50%; padding-left: 15px;">

            <div class="column">
                <!-- Event Application Status Counts -->
                <div id="event-applications-status-counts">
                    <h4>
                        Event Application Status Counts                
                    </h4>
                    <div>
                        <b>Approved:</b> {{event.application_status_counts.approved}}
                    </div>
                    <div>
                        <b>Pending:</b> {{event.application_status_counts.pending}}
                    </div>
                    <div>
                        <b>Rejected:</b> {{event.application_status_counts.rejected}}
                    </div>
                    <div>
                        <b>Withdrawn:</b> {{event.application_status_counts.withdrawn}}
                    </div>
                </div>
            </div>

            <div class="column">
                <!-- Reasons for Withdrawing -->
                <div id="event-applications-status-counts">
                    <h4>
                        Reasons for Withdrawing            
                    </h4>
                    <div>
                        <b>Prefer not to say:</b> {{event.reasons_for_withdrawing_counts.prefer_not_to_say}}
                    </div>
                    <div>
                        <b>Illness:</b> {{event.reasons_for_withdrawing_counts.illness}}
                    </div>
                    <div>
                        <b>No longer interested:</b> {{event.reasons_for_withdrawing_counts.not_interested}}
                    </div>
                    <div>
                        <b>Change of plans:</b> {{event.reasons_for_withdrawing_counts.change_of_plans}}
                    </div>
                    <div>
                        <b>Too expensive:</b> {{event.reasons_for_withdrawing_counts.too_expensive}}
                    </div>
                    <div>
                        <b>Inconvenient location:</b> {{event.reasons_for_withdrawing_counts.inconvenient_location}}
                    </div>
                    <div>
                        
                        <!-- Other Reasons for Withdrawing -->
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" href="#other-reason-for-withdrawing-counts">
                                            <b>Other:</b> {{event.reasons_for_withdrawing_counts.other}}
                                        </a>
                                    </div>
                                </div>
                                <div id="other-reason-for-withdrawing-counts" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            {% for reason in event.other_reasons_for_withdrawing %}
                                                <div>
                                                    <li>{{reason}}</li>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Event Details -->
        <details>
            <summary>Event Details</summary>
            {% if manage_event_details_form %}
                <form method="post" action="{% url 'events:manage_event_details' event_pk %}">
                    {% csrf_token %}
                    {% crispy manage_event_details_form %}
                    <input class="btn btn-primary" type="submit" value="Update event details">
                </form>
                <br>
            {% endif %}        
        </details>

        <!-- Event Registration Form Details -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#event-registration-form-details">Event Registration Form Details</a>
                </h4>
                </div>
                <div id="event-registration-form-details" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if manage_registration_form_details_form %}
                        <form method="post" action="{% url 'events:manage_event_registration_form_details' registration_form_pk %}">
                            {% csrf_token %}
                            {% crispy manage_registration_form_details_form %}
                            <input class="btn btn-primary" type="submit" value="Update registration form details">
                        </form>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- Event Applications -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#event-applications">Event Applications</a>
                </h4>
                </div>
                <div id="event-applications" class="panel-collapse collapse">
                <div class="panel-body">


                    {% if not is_free %}
                        <!-- Bulk mark all participants as paid -->
                        <a class="btn btn-success btn-block btn-lg" href="{% url 'events:mark_all_participants_as_paid' event_pk %}" role="button">
                            Mark all participants as paid
                        </a>
                    {% endif %}

                    {% if event_applications %}
                        {% for application in event_applications %}
                        <div>
                            <a href="{% url 'events:manage_event_application' application.event.pk application.pk %}" role="button">{{application}}</a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No event applications</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- TODO: implement ability to send email to all participants that are attenting i.e. approved -->
        <!-- Send Email -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#event-email">Email Event Participants</a>
                </h4>
                </div>
                <div id="event-email" class="panel-collapse collapse">
                <div class="panel-body">

                    
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
