{% extends "events/base.html" %}

{% load static %}

{% block body_element %}
    <body class="position-relative" data-spy="scroll" data-target="#event-navigation" data-offset="100">
{% endblock body_element %}

{% block page_heading %}
    <div id="event-details" class="my-3">
        {% if perms.events %}
            <a href="{% url 'admin:events_event_change' event.pk %}" class="btn btn-sm btn-secondary float-right">
                Edit event
            </a>
        {% endif %}

        {% for organiser in organisers %}
            {% if organiser.logo %}
                <img src="{{ organiser.logo.url }}" class="img-inline-lg mr-4" alt="{{ organiser.name }}">
            {% else %}
                <span class="h6 mr-4">
                    {{ organiser.name }}
                </span>
            {% endif %}
        {% endfor %}
        {% if event.series.logo %}
            <img src="{{ event.series.logo.url }}" class="img-inline-lg" alt="{{ event.series.name }}">
        {% endif %}

        <h1 class="display-4 mt-4">
            {{ event.name }}
        </h1>
    </div>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 col-md-8 order-2 order-md-1">
        {% if event.accessible_online %}
            {% include "events/badges/online.html" %}
        {% endif %}
        <p class="mb-0"><strong>Starts:</strong> {{ event.start|date:"g:i a l j F, Y" }}</p>
        <p class="mb-0"><strong>Ends:</strong> {{ event.end|date:"g:i a l j F, Y" }}</p>
        <p class="mb-0">
            <strong>Cost:</strong>
            {% if event.price == 0 %}
                Free!
            {% else %}
                {{ event.price }}
            {% endif %}
        </p>

        <div class="d-flex flex-row">
            <div class="pr-1"><strong>Location{{ locations|pluralize }}:</strong></div>
            <div class="d-flex flex-wrap">
                {% for location in locations %}
                    <div class="mr-5 mb-3">
                        <a href="{{ location.get_absolute_url }}">
                            {% if location.room %}{{ location.room }}<br>{% endif %}
                            {{ location.name }}<br>
                        </a>
                        {% if location.street_address %}{{ location.street_address }}<br>{% endif %}
                        {% if location.suburb %}{{ location.suburb }}, {% endif %}
                        {% if location.city %}{{ location.city }}<br>{% endif %}
                        {{ location.get_region_display }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <h3 id="event-description" class="event-heading">Description</h3>
        <div class="mb-3">
            {{ event.description|safe }}
        </div>

        {% if event.show_schedule and schedule %}
            <h3 id="event-schedule" class="event-heading">Schedule</h3>

            {% include "events/event_schedule.html" %}
        {% endif %}
    </div>

    <div class="col-12 col-md-4 order-1 order-md-2">
        <div id="sticky-navigation" class="mb-3">
            <strong>Navigation</strong>
            <nav id="event-navigation" class="nav nav-pills flex-column">
                <a class="nav-link" href="#event-details">
                    Details
                </a>
                <a class="nav-link" href="#event-description">
                    Description
                </a>
                {% if event.show_schedule %}
                    <a class="nav-link" href="#event-schedule">
                        Schedule
                    </a>
                    {% if schedule|length > 1 %}
                        {% for day in schedule %}
                            <a class="nav-link ml-4" href="#schedule-day-{{ forloop.counter }}">
                                <small>
                                    {{ day.date|date:"l j F, Y" }}
                                </small>
                            </a>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </nav>

            {% if event.registration_link and not event.has_ended %}
                <hr>
                <a class="btn btn-success btn-block btn-lg" href="{{ event.registration_link }} " role="button">
                    {{ event.get_registration_type_display }}
                </a>                
            {% elif not event.has_ended and event.is_register_or_apply %}

                {% if has_user_applied %}
                    <hr>
                    <a class="btn btn-success btn-block btn-lg" href="{% url 'events:apply' event.pk %}" role="button">
                        Update application
                    </a>
                    <hr>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-block btn-lg" data-toggle="modal" data-target="#event-details-withdraw-modal-{{application_pk}}">
                        Withdraw
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="event-details-withdraw-modal-{{application_pk}}" tabindex="-1" role="dialog" aria-labelledby="event-details-withdraw-confirmation" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Withdraw</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Are you sure you want to withdraw your application for <b>{{event.name}}</b>?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'events:delete_application_via_event_page' application_pk %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-warning" type="submit" value="Yes">
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>


                {% else %}
                    <hr>
                    <a class="btn btn-success btn-block btn-lg" href="{% url 'events:apply' event.pk %}" role="button">
                        {{ event.get_registration_type_display }}
                    </a>
                {% endif %}

            {% endif %}

            {% if event.registration_type == event.REGISTRATION_TYPE_INVITE_ONLY %}
                <hr>
                <button class="btn btn-secondary btn-block btn-lg" role="button" disabled>
                    {{ event.get_registration_type_display }}
                </button>
            {% endif %}

            {% if event.series %}
                <hr>
                <div class="text-center">
                    <small>This event is part of the following series</small>
                    {% if event.series.logo %}
                        <img src="{{ event.series.logo.url }}" class="img-inline" alt="{{ event.series.name }}">
                    {% else %}
                        <div class="h6 text-center m-3">
                            {{ event.series.name }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if sponsors %}
                <hr>
                <div class="text-center">
                    <small>This event is sponsored by</small>
                </div>
                <ul class="list-unstyled text-center mb-3">
                    {% for sponsor in sponsors %}
                    <li class="my-2">
                        <a href="{{ sponsor.url }}" target="_blank">
                            {% if sponsor.logo %}
                                <img src="{{ sponsor.logo.url }}" class="img-y4" alt="{{ sponsor.name }}">
                            {% else %}
                                {{ sponsor.name }}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock content_container %}

{% block scripts %}
    <script>
        var event_markers = [
            {% for location in locations %}
                {
                    coords: { lat: {{ location.coords.y }}, lng: {{ location.coords.x }} },
                    title: "{{ location.name|escape }}",
                    text: "{{ location.get_full_address|escape|linebreaksbr }}",
                },
            {% endfor %}
        ];
        var map_zoom = {% if locations.count == 1 %}13{% else %}5{% endif %};
    </script>
    {% include "generic/map-javascript.html" %}
{% endblock scripts %}
