{% extends "events/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_heading %}

    <div>
        <h2 style="padding-top: 20px">                    
            <a href="{{ event.get_absolute_url }}" style="text-decoration: none;">
                {{ event.name }}
            </a>
        </h2>
    </div>

{% endblock page_heading %}

{% block content %}
    <div>

        <div style="padding-bottom: 40px;">
            <div class="float-left">
                {% if event.is_cancelled == True %} 
                    <label style="background-color:rgb(140, 0, 0); color:white; font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                        Cancelled
                    </label>
                {% elif event.published == False %} 
                    <label style="background-color:rgb(255, 123, 0); font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; color: white;">
                        Not Published
                    </label>
                {% elif event.published == True %} 
                    <label style="background-color:green; font-size: medium; color:white; border-radius: 6px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                        Published
                    </label>
                {% endif %}
            </div>

            <div id="event-published-status-btn" class="float-right">
                {% if event.published == False %} 
                    <a class="btn btn-primary" data-toggle="modal" data-target="#event-publish-modal" role="button">
                        Publish event
                    </a>
                {% elif event.published == True and event.is_cancelled == False %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#event-cancel-modal" role="button">
                        Cancel event
                    </a>                
                {% endif %}
            </div>
            <br>
        </div>

        <!-- TODO: add breakpoint for these two columns to stack when mobile phone used -->
        <!-- Key Data Counts -->
        <div class="row" style="display: grid; grid-template-columns: 50% 50%; padding-left: 15px;">

            <div class="column">
                <!-- Event Application Status Counts -->
                <div id="event-applications-status-counts">
                    <h4>
                        Event Application Status Counts                
                    </h4>
                    <div>
                        <b>Approved:</b> {{event.application_status_counts.approved}}
                    </div>
                    <div>
                        <b>Pending:</b> {{event.application_status_counts.pending}}
                    </div>
                    <div>
                        <b>Rejected:</b> {{event.application_status_counts.rejected}}
                    </div>
                    <div>
                        <b>Withdrawn:</b> {{event.application_status_counts.withdrawn}}
                    </div>
                </div>

                <br>

                <!-- Event Application Status Counts -->
                <div id="event-applications-status-counts">
                    <h4>
                        Participant Types           
                    </h4>
                    {% if participant_types %}
                        {% for participant_type in participant_types %}
                            <div>
                                {{participant_type}}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No participant types yet</p>         
                    {% endif %}
                </div>

            </div>

            <div class="column">
                <!-- Reasons for Withdrawing -->
                <div id="event-applications-status-counts">
                    <h4>
                        Reasons for Withdrawing            
                    </h4>
                    <div>
                        <b>Prefer not to say:</b> {{event.reasons_for_withdrawing_counts.prefer_not_to_say}}
                    </div>
                    <div>
                        <b>Illness:</b> {{event.reasons_for_withdrawing_counts.illness}}
                    </div>
                    <div>
                        <b>No longer interested:</b> {{event.reasons_for_withdrawing_counts.not_interested}}
                    </div>
                    <div>
                        <b>Change of plans:</b> {{event.reasons_for_withdrawing_counts.change_of_plans}}
                    </div>
                    <div>
                        <b>Too expensive:</b> {{event.reasons_for_withdrawing_counts.too_expensive}}
                    </div>
                    <div>
                        <b>Inconvenient location:</b> {{event.reasons_for_withdrawing_counts.inconvenient_location}}
                    </div>
                    <div>
                        
                        <!-- Other Reasons for Withdrawing -->
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" href="#other-reason-for-withdrawing-counts">
                                            <b>Other:</b> {{event.reasons_for_withdrawing_counts.other}}
                                        </a>
                                    </div>
                                </div>
                                <div id="other-reason-for-withdrawing-counts" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            {% for reason in event.other_reasons_for_withdrawing %}
                                                <div>
                                                    <li>{{reason}}</li>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Event Details -->
        <details>
            <summary>Event Details</summary>
            {% if manage_event_details_form %}
                <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                    <form method="post" action="{% url 'events:manage_event_details' event_pk %}">
                        {% csrf_token %}
                        {% crispy manage_event_details_form %}
                        <input class="btn btn-primary" type="submit" value="Update event details">
                    </form>
                    <br>
                </div>
            {% endif %}        
        </details>

        <!-- Event Registration Form Details -->
        <details>
            <summary>Event Registration Form Details</summary>
            {% if manage_registration_form_details_form %}
                <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                    <form method="post" action="{% url 'events:manage_event_registration_form_details' registration_form_pk %}">
                        {% csrf_token %}
                        {% crispy manage_registration_form_details_form %}
                        <input class="btn btn-primary" type="submit" value="Update registration form details">
                    </form>
                    <br>
                </div>
            {% endif %}        
        </details>

        <!-- Event Applications -->
        <details>
            <summary>Event Applications</summary>
            <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">

                {% if event_applications %}

                    {% if not is_free %}
                    <!-- Bulk mark all participants as paid -->
                        <a class="btn btn-success" href="{% url 'events:mark_all_participants_as_paid' event_pk %}" role="button">
                            Mark all participants as paid
                        </a>
                    {% endif %}

                    {% for application in event_applications %}
                    <div>
                        <a href="{% url 'events:manage_event_application' application.event.pk application.pk %}" role="button">{{application}}</a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No event applications</p>
                {% endif %}    
            </div>
        </details>


        {% if event.published == False %}
            <!-- Event Tickets -->         
            <details>
                <summary>Create New Event Ticket</summary>
                {% if new_ticket_form %}
                    <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                        <p style="font-style: italic">
                            Create a new ticket type
                        </p>
                        <form method="post" action="{% url 'events:create_new_ticket' event_pk %}">
                            {% csrf_token %}
                            {% crispy new_ticket_form %}
                            <input class="btn btn-primary" type="submit" value="Create">
                        </form>
                        <br>
                    </div>
                {% endif %}        
            </details>

            <!-- Event Tickets -->         
            <details>
                <summary>Manage Ticket Types</summary>
                {% if participant_types %}
                    {% for participant_type in participant_types %}
                        <div class="row">
                            <div class="column">
                                {{participant_type}}
                            </div>
                            <div class="column">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#event-update-ticket-modal" role="button" data-url="{% url 'events:update_ticket' event.pk participant_type.pk %}" data-ticket="{{participant_type}}">
                                    Update Ticket
                                </a>     
                            </div>
                            <div class="column">
                                <a class="btn btn-primary" data-toggle="modal" data-target="#event-delete-ticket-modal" role="button" data-url="{% url 'events:delete_ticket' event.pk participant_type.pk %}" data-ticket="{{participant_type}}">
                                    Delete Ticket
                                </a>     
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </details>
        {% endif %}

        <!-- Generate Event Applications CSVs -->         
        <details>
            <summary>Create Event Applications CSVs</summary>
            {% if applications_csv_builder_form %}
                <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                    <p style="font-style: italic">
                        Select the fields you wish to include in the CSV
                    </p>
                    <form method="post" action="{% url 'events:generate_event_applications_csv' event_pk %}">
                        {% csrf_token %}
                        {% crispy applications_csv_builder_form %}
                        <input class="btn btn-primary" type="submit" value="Generate csv">
                    </form>
                    <br>
                </div>
            {% endif %}        
        </details>

        <!-- TODO: implement ability to send email to all participants that are attenting i.e. approved -->
        <!-- Send Email -->        
        <details>
            <summary>Contact Event Participants</summary>
            {% if email_event_participants %}
                <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                    <form method="post" action="{% url TODO %}">
                        {% csrf_token %}
                        {% crispy email_event_participants %}
                        <input class="btn btn-primary" type="submit" value="Send email">
                    </form>
                    <br>
                </div>
            {% endif %}        
        </details>

        <div>
            <a class="btn btn-success btn-block btn-lg" href="{% url 'events:generate_event_dietary_requirement_counts_csv' event.pk %}" role="button">
                Dietary Requirements Counts CSV
            </a>
        </div>

    </div>

{% endblock content %}

{% block modal %}

    {% if user.is_authenticated %}

        <!-- Modal -->
        <div class="modal fade" id="event-publish-modal" tabindex="-1" role="dialog" aria-labelledby="event-publish-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Confirm Event Publification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <b>Are you sure you want to publish this event?</b>
                        <br>
                        <br>
                        All event details will be made available to individuals who are logged in and who are not logged in.
                    </div>
                    <div class="modal-footer" style="justify-content:center">
                        <form action="{% url 'events:publish_event' event.id %}" method="post">
                            {% csrf_token %}
                            <div class="row" style="display: flex; justify-content: space-between">
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <input class="btn btn-warning" type="submit" value="Yes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="event-cancel-modal" tabindex="-1" role="dialog" aria-labelledby="event-cancel-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Confirm Event Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <b>Are you sure you want to cancel this event?</b>
                        <br>
                        This <b>CANNOT</b> be undone.
                        <br>
                        <br>
                        You can still update the event description after cancelling.
                    </div>
                    <div class="modal-footer" style="justify-content:center">
                        <form action="{% url 'events:cancel_event' event.id %}" method="post">
                            {% csrf_token %}
                            <div class="row" style="display: flex; justify-content: space-between">
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <input class="btn btn-warning" type="submit" value="Yes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="event-update-ticket-modal" tabindex="-1" role="dialog" aria-labelledby="event-update-ticket-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Update Event Ticket Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" style="justify-content:center">
                    </div>
                    <div class="modal-footer" style="justify-content:center; padding:center">
                        <form id="update_link" method="post">
                            {% csrf_token %}
                            {% crispy update_ticket_form %}
                            <div class="row" style="display: flex; justify-content: space-between">
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <input class="btn btn-warning" type="submit" value="Update">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="event-delete-ticket-modal" tabindex="-1" role="dialog" aria-labelledby="event-delete-ticket-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Confirm Event Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" style="justify-content:center; padding:center">
                    </div>
                    <div class="modal-footer" style="justify-content:center">
                        <form id="update_link" method="post">
                            {% csrf_token %}
                            <div class="row" style="display: flex; justify-content: space-between">
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                                <div class="column" style="padding-left: 50px; padding-right: 50px;">
                                    <input class="btn btn-warning" type="submit" value="Delete">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock modal %}

{% block scripts %}
    <script>
        $("#event-update-ticket-modal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.data("url"); // Extract info from data-* attributes
        var ticket = button.data("ticket");
        var modal = $(this);
        modal.find("#update_link").attr("action", url);
        modal
            .find(".modal-body")
            .html(
            `The ticket being updated is: <b>${ticket}</b>` +
                "<br>" +
                "<br>Please specify the new name and price for this ticket type."
            );
        });
    </script>
    <script>
        $("#event-delete-ticket-modal").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.data("url"); // Extract info from data-* attributes
        var ticket = button.data("ticket");
        var modal = $(this);
        modal.find("#update_link").attr("action", url);
        modal
            .find(".modal-body")
            .html(
            `The ticket being deleted is: <b>${ticket}</b>` +
            "<br>" +
            "<br><b>Are you sure you want to delete this ticket?</b>" +
            "<br>" + 
            "<br>This <b>CANNOT</b> be undone."
            );
        });
    </script>
    {% include "generic/map-javascript.html" %}
{% endblock scripts %}