{% extends "events/base.html" %}

{% load static %}

{% block body_element %}
    <body class="position-relative" data-spy="scroll" data-target="#event-navigation" data-offset="100">
{% endblock body_element %}

{% block page_heading %}
    <div id="event-details">
        <div class="h6 text-muted">
            {% for organiser in organisers %}
                {% if organiser.logo %}
                    <img src="{{ organiser.logo.url }}" class="img-y4 mr-4" alt="{{ organiser.name }}">
                {% else %}
                    <span class="text-muted mr-4">
                        {{ organiser.name }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        <h1>
            {{ event.name }}
        </h1>
        {% if event.series %}
            <div class="h6 text-muted">
                Part of the
                {% if event.series.logo %}
                    <img src="{{ event.series.logo.url }}" class="img-inline" alt="{{ event.series.name }}">
                {% else %}
                    <span class="text-muted">
                        {{ event.series.name }}
                    </span>
                series
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 col-md-8 order-2 order-md-1">
        <div>
            {% if event.accessible_online %}
                {% include "events/badges/online.html" %}
            {% endif %}
            <p class="mb-0 mt-3"><strong>Starts:</strong> {{ event.start|date:"g:i a l j F, Y" }}</p>
            <p class="mb-0"><strong>Ends:</strong> {{ event.end|date:"g:i a l j F, Y" }}</p>
            <p class="mb-0">
                <strong>Cost:</strong>
                {% if event.price == 0 %}
                    Free!
                {% else %}
                    {{ event.price }}
                {% endif %}
            </p>

            <div class="d-flex flex-row mb-3">
                <div class="pr-1"><strong>Location{{ locations|pluralize }}:</strong></div>
                <div class="d-flex flex-column">
                    {% for location in locations %}
                        <div>{{ location.get_full_address|escape|linebreaksbr }}</div>
                        {% if not forloop.last %}
                            <hr class="w-100 my-2">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <h3 id="event-description" class="event-heading">Description</h3>
        <div class="mb-3">
            {{ event.description|safe }}q
        </div>

        {% if sponsors %}
            <h3 id="event-sponsors" class="event-heading">Sponsor{{ sponsors.count|pluralize }}</h3>
            <ul class="list-unstyled">
                {% for sponsor in sponsors %}
                <li class="my-2">
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if sponsor.logo %}
                        <img src="{{ sponsor.logo.url }}" class="img-y4" alt="{{ sponsor.name }}">
                        {% else %}
                            {{ sponsor.name }}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if locations %}
            <h3 id="event-locations" class="event-heading">Location{{ locations|pluralize }}</h3>
            <div class="mb-3">
                {% for location in locations %}
                    <p class="mb-0">{{ location.get_full_address|escape|linebreaksbr }}</p>
                    {% if not forloop.last %}
                        <hr class="w-100 my-2">
                    {% endif %}
                {% endfor %}
            </div>
            {% with ratio='1by1' %}
                {% include "generic/map-element.html" %}
            {% endwith %}
        {% endif %}

        {% if sessions %}
            <h3 id="event-schedule" class="event-heading">Schedule</h3>

            {% for session in sessions %}
                <div class="row mb-3">
                    {% ifchanged session.start|date:"d" %}
                        <div class="col-12 offset-md-3 col-md-9 mb-2">
                            <h4>{{ session.start|date:"l j F, Y" }}</h4>
                        </div>
                    {% endifchanged %}

                    {% ifchanged session.start|time session.end|time session.start|date:"d" %}
                        <div class="col-12 mb-2 schedule-line"></div>
                        <div class="col-md-3 text-center text-md-right">
                            <h5>
                                {{ session.start|time:"g:i a" }}<br class="hidden-sm-down">
                                <small class="text-muted">until {{ session.end|time:"g:i a" }}</small>
                            </h5>
                        </div>
                    {% else %}
                        <div class="col-12 offset-md-3 col-md-9 mb-2 schedule-line-thin"></div>
                        <div class="col-md-3"></div>
                    {% endifchanged %}

                    <div class="col-md-9">
                        <h5>
                            {{ session.name }}
                        </h5>
                        <div class="mb-3">
                            {{ session.description|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-12 col-md-4 order-1 order-md-2">
        <div id="sticky-navigation" class="mb-3">
            <strong>Navigation</strong>
            <nav id="event-navigation" class="nav nav-pills flex-column">
                <a class="nav-link" href="#event-details">
                    Details
                </a>
                <a class="nav-link" href="#event-description">
                    Description
                </a>
                {% if sponsors %}
                    <a class="nav-link" href="#event-sponsors">
                        Sponsor{{ sponsors|pluralize }}
                    </a>
                {% endif %}
                {% if locations %}
                    <a class="nav-link" href="#event-locations">
                        Location{{ locations|pluralize }}
                    </a>
                {% endif %}
                <a class="nav-link" href="#event-schedule">
                    Schedule
                </a>
            </nav>
            <hr>
            <a class="btn btn-success btn-block btn-lg" href="{{ event.registration_link }} " role="button">
                Register to attend event
            </a>

        </div>
    </div>
{% endblock content_container %}

{% block scripts %}
    {% if locations.count == 1 %}
        {% include "generic/map-javascript.html" with map_location=location map_zoom=13 %}
    {% elif locations %}
        {% include "generic/map-javascript.html" with map_locations=locations map_zoom=5 %}
    {% endif %}
{% endblock scripts %}
