{% load static %}

{% load humanize %}

<div class="resource card mb-3 w-100">
    <div class="card-header align-middle">
        <h5 class="d-inline-block mb-0">
            <a href="{{ event.get_absolute_url }}">
                {% if event.series %}
                    {% if event.series.logo %}
                        <img src="{{ event.series.logo }}" class="img-inline" alt="{{ event.series.name }}">
                    {% else %}
                        {{ event.series.abbreviation }}:
                    {% endif %}
                {% endif %}
                {{ event.name }}
            </a>
        </h5>
        <div class="float-right text-left text-md-right">
            {% if event.start|date:"j" != event.end|date:"j" %}
                {% if event.start|date:"F" == event.end|date:"F" %}
                    {{ event.start|date:"j" }}
                {% else %}
                    {{ event.start|date:"j F" }}
                {% endif %}
                to
            {% endif %}
            {{ event.end|date:" j F, Y" }}<br>
            <small class="text-muted">{{ event.start|naturaltime }}</small>
        </div>
    </div>
    <div class="card-body py-2">
        {% for location in event.locations.all %}
            {{ location.name }}<br>
        {% endfor %}
    </div>
</div>
