{% extends "events/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_heading %}
    <h1>Registration for {{ event.name }}</h1>
{% endblock page_heading %}

{% block content %}

    <div class="row" style="padding-left: 15px;">
        <div id="registration-status" style="margin-right: 20px;">
            {% if event_registration.status == 1 %} 
                <div>
                    <label style="background-color:rgb(253, 197, 145); font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px;">
                        <b style="color:black;">Pending</b>
                    </label>
                </div>
            {% elif event_registration.status == 2 %} 
                <div>
                    <label style="background-color:rgb(180, 255, 177); color:black; font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px;">
                        <b style="color:black;">Approved</b>
                    </label>
                </div>
            {% elif event_registration.status == 3 %} 
                <div>
                    <label style="background-color:rgb(255, 198, 198); font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px;">
                        <b style="color:black">Declined</b>
                    </label>
                </div>
            {% endif %}
        </div>
        <div>
            {% if is_event_staff %}
                <div style="padding-bottom: 40px;">
                    <a href="{% url 'events:event_management' event.pk %}" class="btn btn-success" style="color:white; font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                        Manage event 
                    </a>
                </div>
                <br>
            {% endif %}
        </div>
    </div>

    <div class="row" style="display: grid; grid-template-columns: 50% 50%; padding-left: 15px;">

        <div class="column" style="padding-right: 50px">

            <div id="participant-info">
                <h3>Participant Info</h3>
                <div>
                    <b>Participant: </b> {{event_registration.user.first_name}} {{event_registration.user.last_name}}
                </div>
                <div>
                    <b>Representing: </b> {{event_registration.representing}}
                </div>  
                <div>
                    <b>Participant type: </b> {{event_registration.participant_type}}
                </div>
                <div>
                    <b>Region: </b> {{event_registration.user.get_user_region_display}}
                </div>
                <div>
                    <b>Email address: </b> {{event_registration.user.email_address|default:"None"}}
                </div>
                <div>
                    <b>Mobile phone number: </b> {{event_registration.user.mobile_phone_number}}
                </div>
                <br>
                <div>
                    <b>Educational entities they belong to: </b>
                    {% if educational_entities.count == 0 %} 
                        None
                    {% else %}
                        <ul>
                            {% for entity in educational_entities %}
                                <div>
                                    <li>{{entity}}</li>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    <b>Dietary requirements: </b>
                    {% if dietary_requirements.count == 0 %} 
                        None
                    {% else %}
                        <ul>
                            {% for dietary_requirement in dietary_requirements %}
                                <div>
                                    <li>{{dietary_requirement}}</li>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="column">

            <div id="registration-info" style="margin-right: 20px;">
                <h3>Registration Info</h3>
                <div>
                    <b>Participant: </b> {{event_registration.user.first_name}} {{event_registration.user.last_name}}
                </div>
                <div>
                    <b>Submitted: </b> {{event_registration.submitted}}
                </div>    
                <div>
                    <b>Last updated: </b> {{event_registration.updated}}
                </div>
                <div>
                    {% if not event_registration.participant_type.is_free %}
                        <b>Paid: </b>
                        {% if event_registration.paid == True %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    {% endif %}            
                </div>
            </div>

            <br>

            {% if not event.accessible_online %}
                <div id="emergency-contact-info" style="margin-right: 20px;">
                    <details>
                        <summary>Emergency Contact</summary>
                        <div style="margin: 20px;">
                            <div>
                                <b>Participant's name: </b> {{event_registration.user.first_name}} {{event_registration.user.last_name}}
                            </div>  
                            <div>
                                <b>Emergency Contact's Name: </b>{{event_registration.emergency_contact_first_name}} {{event_registration.emergency_contact_last_name}}
                            </div>
                            <div>
                                <b>Emergency Contact's phone number: </b> {{event_registration.emergency_contact_phone_number}}
                            </div>
                            <div>
                                <b>Relationship: </b> {{event_registration.emergency_contact_relationship}} 
                            </div>
                        </div>
                    </details>
                </div>
            {% endif %}

            {% if not event_registration.participant_type.is_free %}
                <div id="bill-info" style="margin-right: 20px;">
                    <details>
                        <summary>Billing Details</summary>
                        <div style="margin: 20px;">
                            <div>
                                <b>Bill to: </b> {{event_registration.bill_to}}
                            </div>
                            <div>
                                <b>Physical address: </b> {{event_registration.billing_physical_address}}
                            </div>
                            <div>
                                <b>Billing email address: </b> {{event_registration.billing_email_address}}
                            </div>
                            <div>
                                <b>Comments: </b> {{event_registration.admin_billing_comments|default:"N/A"}}
                            </div>
                        </div>
                    </details>
                </div>
            {% endif %}

            <div id="accommodation-info" style="margin-right: 20px;">
                <details>
                    <summary>How We Can Best Accommodate for Them</summary>
                    <div style="margin: 20px;">
                        <div>
                            {{event_registration.user.medical_notes|default:"N/A"}}
                        </div>
                    </div>
                </details>
            </div>

        </div>
    </div>

    <br>

    <details>
        <summary>
            {% if not event.has_ended and not event.is_cancelled %}
                View Details
            {% else %}
                Details
            {% endif %}
        </summary>
            <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; margin-bottom: 20px;">
                {% if manage_registration_form %}
                    <form method="post" action="{% url 'events:manage_event_registration' pk_event pk_registration %}">
                        {% csrf_token %}
                        {% crispy manage_registration_form %}
                        {% if not event.has_ended and not event.is_cancelled %}
                            <input class="btn btn-primary" type="submit" value="Update event registration">
                        {% endif %}
                    </form>
                    <br>
                {% endif %}
                <br>
            </div>
    </details>

{% endblock content %}
