{% extends "events/base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_heading %}
    <h1>Application for {{ event.name }}</h1>
{% endblock page_heading %}

{% block content %}

    <div class="row">
        <div class="column" style="float:left; width: 50%">
            <div id="application-status">
                {% if event_application.status == 1 %} 
                    <div>
                        <label style="background-color:rgb(255, 123, 0); font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; color: white;">
                            <b>Pending</b>
                        </label>
                    </div>
                {% elif event_application.status == 2 %} 
                    <div>
                        <label style="background-color:rgb(122, 245, 91); font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                            <b>Approved</b>
                        </label>
                    </div>
                {% elif event_application.status == 3 %} 
                    <div>
                        <label style="background-color:darkred; font-size: medium; border-radius: 8px; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                            <b style="color:white">Rejected</b>
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="column" style="float:left; width: 50%">
            {% if perms.events %}
            <a href="{% url 'events:event_management' event_application.pk %}" class="btn btn-sm btn-secondary float-right" style="margin-left: 10px">
                Manage event 
            </a>
            {% endif %}
        </div>
    </div>

    <div class="row" style="display: grid; grid-template-columns: 50% 50%; padding-left: 15px;">

        <div class="column" style="padding-right: 50px">

            <br>

            <div id="participant-info">
                <h3>Participant Info</h3>
                <div>
                    <b>Participant: </b> {{event_application.user.first_name}} {{event_application.user.last_name}}
                </div>
                <div>
                    <b>Representing: </b> {{event_application.representing}}
                </div>  
                <div>
                    <b>Participant type: </b> {{event_application.participant_type}}
                </div>
                <div>
                    <b>Region: </b> {{event_application.user.get_region_display}}
                </div>
                <div>
                    <b>Email address: </b> {{event_application.user.email_address}}
                </div>
                <div>
                    <b>Mobile phone number: </b> {{event_application.user.mobile_phone_number}}
                </div>
                <div>
                    <b>Medical notes: </b> {{event_application.user.medical_notes|default:"none"}}
                </div>
                <br>
                <div>
                    <b>Educational entities they belong to: </b>
                    <ul>
                        {% for entity in educational_entities %}
                            <div>
                                <li>{{entity}}</li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <b>Dietary requirements: </b>
                    {% if dietary_requirements.count == 0 %} 
                        None
                    {% else %}
                        <ul>
                            {% for dietary_requirement in dietary_requirements %}
                                <div>
                                    <li>{{dietary_requirement}}</li>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="column">

            <div id="application-info">
                <h3>Application Info</h3>
                <div>
                    <b>Participant: </b> {{event_application.user.first_name}} {{event_application.user.last_name}}
                </div>
                <div>
                    <b>Submitted: </b> {{event_application.submitted}}
                </div>    
                <div>
                    <b>Last updated: </b> {{event_application.updated}}
                </div>
                <div>
                    <b>Paid: </b> {{event_application.paid}}
                </div>
            </div>

            <br>
            
            <div id="emergency-contact-info">
                <h3>Emergency Contact</h3>

                <div>
                    <b>Name: </b>{{event_application.emergency_contact_first_name}} {{event_application.emergency_contact_last_name}}
                </div>    
                <div>
                    <b>Relationship: </b> {{event_application.emergency_contact_relationship}} 
                </div>    
                <div>
                    <b>Phone number: </b> {{event_application.emergency_contact_phone_number}}
                </div>
            </div>

            <br>

            <div id="billing-info">
                <h3>Billing Details</h3>
                <div>
                    <b>Bill to: </b> {{event_application.bill_to}}
                </div>
                <div>
                    <b>Physical address: </b> {{event_application.billing_physical_address}}
                </div>
                <div>
                    <b>Billing email address: </b> {{event_application.billing_email_address}}
                </div>
                <div>
                    <b>Comments: </b> {{event_application.admin_billing_comments}}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="update-application-form">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#application-update">Update Details</a>
                </h3>
                </div>
                <div id="application-update" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if manage_application_form %}
                    <form method="post" action="{% url 'events:manage_event_application' pk_event pk_application %}">
                        {% csrf_token %}
                        {% crispy manage_application_form %}
                        <input class="btn btn-primary" type="submit" value="Update event application">
                    </form>
                    <br>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
