{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{{ filename }}</title>
    </head>
    <body class="text-center print-{{ print_type|lower }}">
        {% spaceless %}
            {% for card in cards %}
                <div class="ac-card ac-card-{{ card.side }} learning-area-{{ card.objective.learning_area_code }} {% if forloop.counter|divisibleby:4 or forloop.last %}page-break{% endif %}">
                    {% if card.side == 'back' and card.objective %}
                        <span class="ac-card-area">
                            {{ card.objective.learning_area }}
                        </span>
                        <div class="ac-card-credits">
                            Authentic Context Cards<br>
                            <img src="./img/logos/dthm4kaiako-logo-png-alternative.png" class="logo">
                        </div>
                    {% elif card.side == 'front' and card.objective %}
                        <div class="ac-card-front-container">
                            <div class="ac-card-front-content
                                {% if card.objective.content|length > 500 %}content-smaller
                                {% elif card.objective.content|length > 300 %}content-small{% endif %}
                                ">
                                {{ card.objective.content|safe }}
                            </div>
                            <div class="ac-card-front-details">
                                <strong>Learning area:</strong> {{ card.objective.learning_area }}<br>
                                <strong>Curriculum level:</strong> {{ card.objective.level }}<br>
                                <strong>Component:</strong>
                                {% if card.objective.component %}
                                    {{ card.objective.component }}
                                {% else %}
                                    N/A
                                {% endif %}
                                <br>
                                <strong>Strand:</strong>
                                {% if card.objective.strand %}
                                    {{ card.objective.strand }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if card.page_break %}
                    <div class="page-break"></div>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </body>
</html>
