{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{{ filename }}</title>
    </head>
    <body>
        {% spaceless %}
            {% for achievement_outcome in achievement_outcomes %}
                <div class="ac-card learning-area-{{ achievement_outcome.learning_area_code }} {% if forloop.counter|divisibleby:2 or forloop.last %}page-break{% endif %}">
                    <div class="ac-card-back">
                        <span class="ac-card-area">
                            {{ achievement_outcome.learning_area }}
                        </span>
                        <div class="ac-card-credits">
                            Authentic Context Cards<br>
                            <img src="./img/logos/dthm4kaiako-logo-png-alternative.png" class="logo">
                        </div>

                    </div>
                    <div class="ac-card-front">
                        <div class="ac-card-front-container">
                            <div class="ac-card-front-content {% if achievement_outcome.content|length > 300 %}content-small{% endif %}">
                                {{ achievement_outcome.content|safe }}
                            </div>
                            <div class="ac-card-front-details">
                                <strong>Learning area:</strong> {{ achievement_outcome.learning_area }}<br>
                                <strong>Curriculum level:</strong> {{ achievement_outcome.level }}<br>
                                <strong>Component:</strong>
                                {% if achievement_outcome.component %}
                                    {{ achievement_outcome.component }}
                                {% else %}
                                    N/A
                                {% endif %}
                                <br>
                                <strong>Strand:</strong>
                                {% if achievement_outcome.strand %}
                                    {{ achievement_outcome.strand }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        {% endspaceless %}
    </body>
</html>
