{% extends "base-unbranded.html" %}

{% load static %}

{% block page_heading %}
    <h1 id="acc-title" class="text-center">Authentic Context Cards</h1>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12 text-center">
        <p class="lead">
            Sets of printable cards of New Zealand achievement objectives for prompting authentic contexts.{{ STATIC_PREFIX }}
        </p>
    </div>
    <div class="col-12 col-md-6 mb-3 text-center order-md-2">
        <div class="ac-card-front sample-card learning-area-{{ achievement_objective.learning_area_code }}">
            <div class="ac-card-front-container">
                <div class="ac-card-front-content
                    {% if achievement_objective.content|length > 500 %}content-smaller
                    {% elif achievement_objective.content|length > 300 %}content-small{% endif %}
                    ">
                    {{ achievement_objective.content|safe }}
                </div>
                <div class="ac-card-front-details">
                    <strong>Learning area:</strong> {{ achievement_objective.learning_area }}<br>
                    <strong>Curriculum level:</strong> {{ achievement_objective.level }}<br>
                    <strong>Component:</strong>
                    {% if achievement_objective.component %}
                        {{ achievement_objective.component }}
                    {% else %}
                        N/A
                    {% endif %}
                    <br>
                    <strong>Strand:</strong>
                    {% if achievement_objective.strand %}
                        {{ achievement_objective.strand }}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="text-muted my-2">Sample card</div>
    </div>
    <div class="col-12 col-md-6 order-md-1">
        <h4>
            Download card sets
        </h4>
        {% for level in levels %}
            <div class="row align-items-center py-2 border-top">
                <div class="d-inline-block px-3">
                    <h5 class="mb-0">
                        <strong>Level {{ level.level }}</strong><br>
                    </h5>
                    <small class="text-muted">{{ level.count }} cards</small>
                </div>
                <a href="{{ STATIC_URL }}authentic_context_cards/{{ filename.0 }}{{ level.level }}{{ filename.1 }}Single{{ filename.2 }}.pdf" download class="btn btn-outline-primary btn-sm mr-3">
                    Single sided
                </a>
                <a href="{{ STATIC_URL }}authentic_context_cards/{{ filename.0 }}{{ level.level }}{{ filename.1 }}Double{{ filename.2 }}.pdf" download class="btn btn-outline-primary btn-sm mr-3">
                    Double sided
                </a>
            </div>
        {% endfor %}
        <p class="mt-5">
            <strong>Feedback? Suggestions?</strong> Please <a href="{% url 'general:contact' %}">contact us here</a>.
        </p>
    </div>
{% endblock content_container %}

{% block css %}
    <link href="{% static 'css/authentic-context-cards.css' %}" rel="stylesheet">
{% endblock css %}
