{% extends "resources/base.html" %}

{% load static %}

{% block page_heading %}
    <h1>{{ resource.name }}</h1>
{% endblock page_heading %}

{% block content %}
    {{ resource.description|safe }}

    <ul class="list-unstyled">
        <li>
            <strong>Resource added:</strong> {{ resource.datetime_added }}
        </li>
        <li>
            <strong>Resource last updated:</strong> {{ resource.datetime_updated }}
        </li>
    </ul>

    {% if components %}
        <h2>Components</h2>
        <p class="text-muted">
            Click any of the components below to access them.
        </p>

        <div id="resource-components" class="list-group mb-3">
            <!-- TODO: Recreate with flexboxes for mobile devices -->
            {% for component in components %}
                <a
                {% if component.component_url %}
                    href="{{ component.component_url }}" target="_blank"
                {% elif component.component_resource %}
                    href="{{ component.component_resource.get_absolute_url }}"
                {% elif component.component_file %}
                    href="{{ component.component_file.url }}" download
                {% endif %}
                class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center">
                        <img src="{% static component.icon_path %}" class="img-component-type mr-3">
                        <strong class="flex-grow-1">
                            {{ component.name }}
                        </strong>
                        <small class="text-muted">
                            {% if component.component_url %}
                                {{ component.component_url|truncatechars:40 }}
                            {% elif component.component_resource %}
                                {{ component.component_resource.components.count }} components
                            {% elif component.component_file %}
                                {{ component.component_file.size|filesizeformat }}
                            {% endif %}
                        </small>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if resource.component_of.exists %}
        <h2>Components of</h2>
        <p>This resource is also a component of the following resources:</p>
        <ul>
            {% for component in resource.component_of.all %}
                <li>
                    <a href="{{ component.resource.get_absolute_url }}">{{ component.resource.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
