{% extends "resources/base.html" %}

{% block page_heading %}
    <h1>Resources</h1>
{% endblock page_heading %}

{% block content_container %}
    {% if resources %}
        <div class="col-12">
            <p>
                Currently {{ resource_count }} resources are available containing {{ resource_component_count }} components, currently sorted alphabetically.
                We will be adding the ability to search and filter resources at a later date.
            </p>
        </div>
        <div id="resources" class="col-12">
            {% for resource in resources %}
                <div class="resource card mb-3 w-100">
                    <div class="card-header">
                        <h5 class="d-inline-block mb-0">
                            <a href="{{ resource.get_absolute_url }}">
                                {{ resource.name }}
                            </a>
                        </h5>
                        <div class="float-right text-left text-md-right">
                            {% for language in languages %}
                                {% if language in resource.languages.all %}
                                    {% include "resources/badges/language.html" %}
                                {% else %}
                                    <span class="d-none d-md-inline-block language-spacer"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body row py-2">
                        <div class="col-12">
                            {% for year_level in resource.year_levels.all %}
                                {% include "resources/badges/year-level.html" %}
                            {% endfor %}
                            {% for technology_curriculum_strand in resource.technology_curriculum_strands.all %}
                                {% include "resources/badges/technology-curriculum-strand.html" %}
                            {% endfor %}
                            {% for progress_outcome in resource.progress_outcomes.all %}
                                {% include "resources/badges/progress-outcome.html" %}
                            {% endfor %}
                            {% for nzqa_standard in resource.nzqa_standards.all %}
                                {% include "resources/badges/nzqa-standard.html" %}
                            {% endfor %}
                            {% for curriculum_learning_area in resource.curriculum_learning_areas.all %}
                                {% include "resources/badges/curriculum-learning-area.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="col-12">
            <p>No resources available.</p>
        </div>
    {% endif %}
{% endblock content_container %}
