{% extends "resources/base.html" %}

{% block page_heading %}
    <h1>Resources</h1>
{% endblock page_heading %}

{% block content_container %}
    {% if resources %}
        <div class="col-12">
            <p>
                The following resources are available, currently sorted alphabetically.
                We will be adding the ability to search and filter resources at a later date.
            </p>
        </div>
        <div id="resources" class="col-12">
            <div class="row">
                {% for resource in resources %}
                    <div class="col-12 col-md-6 col-lg-4 mb-3 pr-0">
                        <a href="{{ resource.get_absolute_url }}" class="resource border rounded p-2 text-center text-md-left d-block h-100">
                            <div class="row">
                                <div class="col-12 col-md-auto flex-grow-1">
                                    <span class="h5 mb-0">
                                        {{ resource.name }}
                                    </span>
                                    <br>
                                    <small class="text-muted">
                                        {% for language in resource.languages.all %}
                                            {{ language }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <small class="text-muted">
                                        {% for year_level in resource.year_levels.all %}
                                            {% include "resources/badges/year-level.html" %}
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <small class="text-muted">
                                        {% for technology_curriculum_strand in resource.technology_curriculum_strands.all %}
                                            {% include "resources/badges/technology-curriculum-strand.html" %}
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <small class="text-muted">
                                        {% for progress_outcome in resource.progress_outcomes.all %}
                                            {% include "resources/badges/progress-outcome.html" %}
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <small class="text-muted">
                                        Contains {{ resource.components__count }} component{{ resource.components__count|pluralize }}
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <p>No resources available.</p>
        </div>
    {% endif %}
{% endblock content_container %}
