{% extends "base.html" %}

{% load static %}

{% block body_container %}
    <div id="welcome-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mt-4 text-center">
                {% include 'svg/logo.html' %}
                <div class="mb-4">
                    <a href="https://github.com/uccser/dthm4kaiako/releases" class="badge badge-warning">
                        Alpha {{ VERSION_NUMBER }}
                    </a>
                </div>
                <p class="lead">
                    A website for all New Zealand Digital Technology educators, where we aim to inform and equip you for teaching the Digital Technologies & Hangarau Matihiko curricula.
                </p>
            </div>
        </div>
    </div>
{% endblock body_container %}
