// DTHM for kaiako
$brand-colour: #15385a;
$brand-colour-light: lighten($brand-colour, 5%);
$brand-colour-dark: darken($brand-colour, 5%);
$brand-colour-darker: darken($brand-colour, 10%);
$logo-colour: #abc837;
$logo-colour-accent: #dde9af;

// Get Started
$get-started-brand-colour: #3d9441;

// Resources
$resources-brand-colour: #74349a;

// Events
$events-brand-colour: #0976a9;

// DTTA
$dtta-brand-colour: #d31f25;
$dtta-brand-colour-dark: #a21015;

// Bootstrap
// See: https://getbootstrap.com/docs/4.2/getting-started/theming/
$theme-colors: (
  "primary": $brand-colour
);
$link-color: #007bff;
$link-colour: $link-color;

.flex-grow {
  flex-grow: 1;
}

// NZ learning areas
$la-english: #00448a;
$la-arts: #ce7812;
$la-health-pe: #b5152b;
$la-languages: #0096bb;
$la-mathematics: #90054f;
$la-science: #003e27;
$la-social-sciences: #6d1f80;
$la-technology: #934b31;

// Technological areas and progress outcomes
$ta-ct: #1a5881;
$ta-dddo: #269d6e;
