#event-map {
  height: 50rem;

}
.map-info-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

#sticky-navigation {
  @extend .position-sticky;
  top: 1rem;
}

// Location badges (onsite/online)
$location-light: #a7efe7;
$location-dark: #148086;
.location-badge {
  @extend .badge;
  display: inline-block;
  box-shadow:inset 0px 0px 0px 2px $location-dark;
  color: $location-dark;
}
.online-badge {
  @extend .badge;
  display: inline-block;
  background-color: $location-light;
  color: $location-dark;
}

.event {
  border-color: rgba($events-brand-colour, 0.3);
  border-width: 2px;
  .event-card-sponsor {
    max-height: 1.8rem;
  }
  .featured-header {
    font-size: 0.8rem;
    padding: 0.4rem 1.25rem;
    background-color: #fff6ab;
    color: #71660b;
    text-align: center;
    font-weight: bold;
  }
  .event-location {
    display: inline-block;
    font-size: 90%;
  }
  .event-location:not(:last-child) {
    padding-right: 0.6rem;
    margin-right: 0.4rem;
    border-right: 1px solid $gray-500;
  }
  .title-header {
    background-color: white;
  }
}
.event-heading {
  @extend .mt-4;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid $events-brand-colour;
}

// Schedule
.schedule-divider {
    border-top: 2px solid $gray-500;
}
.schedule-divider-thin {
    border-top: 1px solid $gray-300;
}
.schedule-day {
    position: sticky;
    top: 0;
    background-color: rgba(white, 0.9);
    border-bottom: 2px solid $gray-500;
    z-index: 100;
}
.schedule-time-slot {
    .schedule-time-slot-time {
        position: sticky;
        top: 3rem;
    }
    .session-description {
        font-size: 0.9rem;
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.filter-card {
    .form-group {
        margin-bottom: 0.5rem;
    }
    label {
        padding-top: 0;
        padding-bottom: 0.2rem;
    }
}
