#welcome-jumbotron {
  background-color: #2c4864;
  color: #fff !important;
  padding: 1.5rem;

  svg {
    width: 100%;
    max-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .badge {
    font-size: 1rem;
  }

  #messages .alert {
    color: #ffffff;
    background-color: #a51c29;
  }
}

#version-badge {
    position: absolute;
    right: 0;
    top: -1rem;
}

#lead-container{
    background-color: #e5ebed;
    #lead-logos {
        img {
            max-height: 2.6rem;
            margin: 0 1rem 1.5rem;
        }
    }
}

$calls-to-action-button-darken: 10%;
.cta {
  @extend .card;
  align-items: stretch;
  height: 100%;
  border-color: $brand-colour;
  img {
    height: 100px;
    width: 100px;
    align-self: center;
    margin-top: 1rem;
  }
  .card-title {
    font-weight: bold;
  }
  .btn {
    @extend .btn-primary;
    display: block;
    color: white;
    margin: 0 0.5rem 0.5rem;
  }
  .card-footer {
    text-align: center;
  }
  svg {
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
  &#cta-get-started {
    .btn {
      background-color: $get-started-brand-colour;
      border-color: $get-started-brand-colour;
      &:hover {
        background-color: darken($get-started-brand-colour, $calls-to-action-button-darken);
      }
    }
    svg {
        fill: $get-started-brand-colour;
    }
  }
  &#cta-resources {
    .btn {
      background-color: $resources-brand-colour;
      border-color: $resources-brand-colour;
      &:hover {
        background-color: darken($resources-brand-colour, $calls-to-action-button-darken);
      }
    }
    svg {
        fill: $resources-brand-colour;
    }
  }
  &#cta-events {
    .btn {
      background-color: $events-brand-colour;
      border-color: $events-brand-colour;
      &:hover {
        background-color: darken($events-brand-colour, $calls-to-action-button-darken);
      }
    }
    svg {
        fill: $events-brand-colour;
    }
  }
  &#cta-dtta {
    .btn {
      background-color: $dtta-brand-colour;
      border-color: $dtta-brand-colour;
      &:hover {
        background-color: darken($dtta-brand-colour, $calls-to-action-button-darken);
      }
    }
    svg {
        fill: $dtta-brand-colour;
    }
  }
}

// Style featured event differently on homepage
#featured-event-container .featured-header {
  font-size: 1rem !important;
}
