$hover-alpha: .1;

// List view page
#resources {
  .resource:hover,
  .resource:focus {
    background-color: rgba($resources-brand-colour, $hover-alpha);
    text-decoration: none;
  }
}

// Detail view page
.resource-components {
  .img-component-type {
    height: 50px;
  }
  .resource-component:hover,
  .resource-component:focus {
    background-color: rgba($resources-brand-colour, $hover-alpha);
    text-decoration: none;
  }
}

// Curriculum learning area
.cla-english {
  background-color: #00448a;
  color: #fff;
}
.cla-arts {
  background-color: #ce7812;
}
.cla-health-pe {
  background-color: #b5152b;
  color: #fff;
}
.cla-languages {
  background-color: #0096bb;
}
.cla-mathematics {
  background-color: #90054f;
  color: #fff;
}
.cla-science {
  background-color: #003e27;
  color: #fff;
}
.cla-social-sciences {
  background-color: #6d1f80;
  color: #fff;
}
.cla-technology {
  background-color: #934b31;
  color: #fff;
}
