$hover-alpha: .1;

// List view page
.resource {
  border-color: rgba(0, 0, 0, 0.25);
}

// Detail view page
.resource-components {
  .img-component-type {
    height: 50px;
  }
  .resource-component:hover,
  .resource-component:focus {
    background-color: rgba($link-colour, $hover-alpha);
    text-decoration: none;
  }
}

// Technological areas and progress outcomes

$ta-ct: #1a5881;
$ta-dddo: #269d6e;

.ta-ct {
  @extend .badge;
  @extend .badge-pill;
  background-color: $ta-ct;
  color: mix($ta-ct, #fff, 20%);
  &:hover {
    background-color: darken($ta-ct, 10%);
    color: mix($ta-ct, #fff, 30%);
  }
}
.po-ct {
  @extend .badge;
  @extend .badge-pill;
  background-color: rgba($ta-ct, 0.2);
  box-shadow:inset 0px 0px 0px 2px $ta-ct;
  color: $ta-ct;
  &:hover {
    background-color: rgba($ta-ct, 0.4);
    color: $ta-ct;
  }
}
.ta-dddo {
  @extend .badge;
  @extend .badge-pill;
  background-color: $ta-dddo;
  color: mix($ta-dddo, #fff, 20%);
    &:hover {
    background-color: darken($ta-dddo, 10%);
    color: mix($ta-dddo, #fff, 30%);
  }
}
.po-dddo {
  @extend .badge;
  @extend .badge-pill;
  background-color: rgba($ta-dddo, 0.2);
  box-shadow:inset 0px 0px 0px 2px $ta-dddo;
  color: $ta-dddo;
  &:hover {
    background-color: rgba($ta-dddo, 0.4);
    color: $ta-dddo;
  }
}


// Curriculum learning area
.cla-badge {
  @extend .badge;
  @extend .badge-pill;
  color: #fff;
  &:hover {
    color: $gray-200;
  }
  &.cla-english {
    background-color: #00448a;
    &:hover {
      background-color: darken(#00448a, 10%);
    }
  }
  &.cla-arts {
    background-color: #ce7812;
    &:hover {
      background-color: darken(#ce7812, 10%);
    }
  }
  &.cla-health-pe {
    background-color: #b5152b;
    &:hover {
      background-color: darken(#b5152b, 10%);
    }
  }
  &.cla-languages {
    background-color: #0096bb;
    &:hover {
      background-color: darken(#0096bb, 10%);
    }
  }
  &.cla-mathematics {
    background-color: #90054f;
    &:hover {
      background-color: darken(#90054f, 10%);
    }
  }
  &.cla-science {
    background-color: #003e27;
    &:hover {
      background-color: darken(#003e27, 10%);
    }
  }
  &.cla-social-sciences {
    background-color: #6d1f80;
    &:hover {
      background-color: darken(#6d1f80, 10%);
    }
  }
  &.cla-technology {
    background-color: #934b31;
    &:hover {
      background-color: darken(#934b31, 10%);
    }
  }
}

// Year levels
@for $num from 0 through 13 {
  .year-level-#{$num} {
    @extend .badge;
    // Between 20% and 90% lightness
    $year-level-background-colour: adjust-color(hsl(235, 20, 90), $lightness: (60 / 14 * $num) * -1%);
    background-color: $year-level-background-colour;
    color: get-text-colour($year-level-background-colour);
    &:hover {
      background-color: darken($year-level-background-colour, 15%);
      color: get-text-colour($year-level-background-colour);
    }
  }
}

// NCEA assessments
$ncea-level-colour: #900b00;
.ncea-level {
  @extend .badge;
  @extend .badge-pill;
  color: $ncea-level-colour;
  &:hover {
    color: $ncea-level-colour;
  }
  box-shadow:inset 0px 0px 0px 2px $ncea-level-colour;
  &-1 {
    background-color: hsl(2, 90, 90);
    &:hover {
      background-color: darken(hsl(2, 90, 90), 10%);
    }
  }
  &-2 {
    background-color: hsl(3, 90, 82);
    &:hover {
      background-color: darken(hsl(3, 90, 82), 10%);
    }
  }
  &-3 {
    background-color: hsl(4, 90, 74);
    &:hover {
      background-color: darken(hsl(4, 90, 74), 10%);
    }
  }
}

// Languages
$language-light: #bfeab4;
$language-dark: #1b5f0b;
$language-width: 4rem;
.language-badge {
  @extend .badge;
  display: inline-block;
  width: $language-width;
  &.language-en {
    background-color: $language-dark;
    color: $language-light;
    &:hover {
      background-color: lighten($language-dark, 13%);
      color: $language-light;
    }
  }
  &.language-mi {
    background-color: $language-light;
    color: $language-dark;
    &:hover {
      background-color: darken($language-light, 10%);
      color: $language-dark;
    }
  }
}
.language-spacer {
  display: inline-block;
  width: $language-width;
}

// Search page
#resource-search {
  #filter-summary {
    @extend .flex-grow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80%;
    margin-left: 1rem;
    min-height: 2.7rem;
  }
  .dthm-badge {
    user-select: none;
    vertical-align: 2px;
  }
}
