@import "pdf";

$card-width: 85mm;
$card-height: 120mm;
$card-margin: 3mm;
$margin-top: 30mm;
$border-width: 2px;

div {
    padding: 0;
    margin: 0;
}

.ac-card {
    display: inline-block;
    border: $border-width solid black;
    .print-single &.ac-card-back {
        border-right: $border-width dashed black;
    }
    .print-single &.ac-card-front {
        border-left: none;
    }
}

.ac-card-back,
.ac-card-front {
    display: inline-block;
    box-sizing: content-box;
    overflow: hidden;
    vertical-align: top;
}

.ac-card-back {
    width: $card-width - ($card-margin * 2);
    height: $card-height - $margin-top;
    position: relative;
    text-align: center;
    padding-top: $margin-top;
    padding-left: $card-margin;
    padding-right: $card-margin;
    color: white;
    .ac-card-area {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .ac-card-credits {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: $card-margin;
        font-size: 0.8grem;
        .logo {
            height: 4mm;
        }
    }
}
.ac-card-front {
    height: $card-height;
    width: $card-width;
    text-align: left;
    color: black;
    font-size: 1rem;
    .ac-card-front-container {
        background-color: white;
        height: $card-height - ($card-margin * 2);
        margin: $card-margin;
        padding: $card-margin;
        position: relative;
        ul {
            padding-left: 0.7rem;
        }
        .content-small {
            font-size: 0.75rem;
        }
        .content-smaller {
            font-size: 0.63rem;
        }
        .ac-card-front-details {
            width: $card-width - ($card-margin * 4);
            position: absolute;
            border-top: 1px solid $gray-400;
            padding-top: 1mm;
            bottom: 2mm;
            color: $gray-600;
            font-size: 0.7rem;
        }
    }
}

.sample-card {
    border: none !important;
    border-radius: 2mm;
}

.learning-area-ENG {
    background-color: $la-english;
}
.learning-area-ART {
    background-color: $la-arts;
}
.learning-area-HEA {
    background-color: $la-health-pe;
}
.learning-area-LEA {
    background-color: $la-languages;
}
.learning-area-MAT {
    background-color: $la-mathematics;
}
.learning-area-SCI {
    background-color: $la-science;
}
.learning-area-SOC {
    background-color: $la-social-sciences;
}
.learning-area-TEC {
    background-color: $la-technology;
}

#acc-title {
    padding-bottom: 1rem;
    border-bottom: 10px solid;
    border-image: linear-gradient(
        to right,
        $la-english 0%,
        $la-english 12.5%,
        $la-arts 12.5%,
        $la-arts 25%,
        $la-health-pe 25%,
        $la-health-pe 37.5%,
        $la-languages 37.5%,
        $la-languages 50%,
        $la-mathematics 50%,
        $la-mathematics 62.5%,
        $la-science 62.5%,
        $la-science 75%,
        $la-social-sciences 75%,
        $la-social-sciences 87.5%,
        $la-technology 87.5%,
        $la-technology 100%,
    ) 1;
}
