{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}dthm4kaiako.ac.nz{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">
    <link href="{% static 'css/website.css' %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <![endif]-->
  </head>
  <body>
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">dthm4kaiako</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav w-100">
              <a class="nav-item nav-link disabled" href="#">Resources</a>
              <a class="nav-item nav-link disabled" href="#">Events</a>
              <a class="nav-item nav-link" href="#">DTTA</a>
              <a class="nav-item nav-link disabled mr-auto" href="#" tabindex="-1" aria-disabled="true">About</a>
              {% if request.user.is_authenticated %}
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-item nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              {% else %}
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-item nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-divnav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

    <div class="container">

      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
      {% endif %}

      {% block content %}
      <h1>Hello, world!</h1>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
  </body>
</html>
