{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}dthm4kaiako.ac.nz{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">
    <link href="{% static 'css/website.css' %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <nav id="primary-navbar" class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">dthm4kaiako</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav w-100">
            <a class="nav-item nav-link disabled" href="#">Resources</a>
            <a class="nav-item nav-link disabled" href="#">Events</a>
            <a class="nav-item nav-link" href="{% url 'dtta:index' %}">DTTA</a>
            <a class="nav-item nav-link disabled mr-auto" href="#" tabindex="-1" aria-disabled="true">About</a>
            {% if request.user.is_authenticated %}
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-item nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            {% else %}
              {# URL provided by django-allauth/account/urls.py #}
              <!-- <a id="sign-up-link" class="nav-item nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a> -->
              {# URL provided by django-allauth/account/urls.py #}
              <!-- <a id="log-in-link" class="nav-item nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a> -->
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block body_container %}
      <div id="page-header" class="py-4">
        <div class="container">
          <h1>
            {% block page_heading %}{% endblock page_heading %}
          </h1>
        </div>
      </div>
      <div id="content-container" class="container">
        <div class="row">
          {% block content_container %}
            <div class="col-12">
              {% block content %}
              {% endblock content %}
            </div>
          {% endblock content_container %}
          <div class="col-12 order-md-12">
            {% block end_content %}
            {% endblock end_content %}
          </div>
        </div>
      </div>
    {% endblock body_container %}

    <div class="container mt-5 py-5 d-print-none">
      <div class="row align-items-center text-center">
        <div class="col-12 col-sm-6 col-md-4">
          <a href="https://www.canterbury.ac.nz/engineering/schools/csse/research/cse/">
            <img class="img-fluid py-5" src="{% static 'img/logos/uc-computer-science-education-logo.png' %}">
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <a href="{% url 'dtta:index' %}">
            <img class="img-fluid px-3" src="{% static 'img/logos/dtta-logo.png' %}">
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <a href="https://www.facebook.com/aateasolutions/">
            <img class="img-fluid" src="{% static 'img/logos/aatea-logo.png' %}">
          </a>
        </div>
      </div>
    </div>

    <footer id="page-footer" class="d-print-none">
      <div class="container py-3">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-6">
            <p>
              {% blocktrans trimmed %}
                <strong>DTHM for kaiako</strong> is a website for all New Zealand Digital Techology educators, where we aim to inform and equip you for teaching DTHM.
              {% endblocktrans %}
            </p>
          </div>

          <div class="col-6 col-md-2">
            <p class="mb-1 font-weight-bold">{% trans "Useful Links" %}</p>
            <ul class="list-unstyled list-unstyled-i18n">
              <li>
                <a href="#">
                  {% trans "About" %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% trans "Resources" %}
                </a>
              </li>
              <li>
                <a href="#">
                  {% trans "Events" %}
                </a>
              </li>
              <li>
                <a href="{% url 'dtta:index' %}">
                  {% trans "DTTA" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <p class="mb-1 font-weight-bold">{% trans "Community" %}</p>
            <ul class="list-unstyled list-unstyled-i18n">
              <li>
                <a href="https://twitter.com/dttanz">
                  {% trans "DTTA Twitter" %}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/UCCSEd">
                  {% trans "UCCSER Twitter" %}
                </a>
              </li>
              <li>
                <a href="https://github.com/uccser/">
                  {% trans "UCCSER GitHub" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-2">
            <p class="mb-1 font-weight-bold">{% trans "Help" %}</p>
            <ul class="list-unstyled list-unstyled-i18n">
              <li>
                <a href="#">
                  {% trans "Feedback" %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container py-3 footer-statement text-center">
        <p>
          <small>
            {% url 'dtta:index' as dtta_homepage %}
            {% blocktrans trimmed %}
            DTHM for kaiako is a project by the <a href="https://www.canterbury.ac.nz/engineering/schools/csse/research/cse/">Computer
              Science Education Research Group</a> at the <a href="http://www.canterbury.ac.nz/">University of Canterbury</a>, the <a href="{{ dtta_homepage }}">Digital Technologies Teachers Aotearoa</a> association, and <a href="https://www.facebook.com/aateasolutions/">AATEA Solutions</a>.
            Content on this website belongs to their respective owners, unless otherwise stated.
            The dthm4kaiako website is open source on <a href="https://github.com/uccser/dthm4kaiako">GitHub</a>,
            and available under a <a href="https://github.com/uccser/dthm4kaiako/blob/develop/LICENSE">MIT licence</a>.
            Icons provided generously by <a href="https://icons8.com/">icons8</a>.
            {% endblocktrans %}
          </small>
        </p>
        <p class="mb-0">
          <small>
            <a href="https://github.com/uccser/dthm4kaiako/releases">
              {{ VERSION_NUMBER }}
            </a>
          </small>
        </p>
      </div>
    </footer>

    {% block modal %}{% endblock modal %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
  </body>
</html>
