{% extends "poet/base.html" %}

{% load i18n %}

{% block page_heading %}
    <h1 class="text-center">POET</h1>
{% endblock page_heading %}

{% block content_container %}
    <div class="col-12">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <div class="text-center">
                <input type="submit" class="btn btn-success ml-auto" value="{% trans "Submit" %}" />
            </div>
        </form>
    </div>
{% endblock content_container %}
