{% extends "base.html" %}

{% block body_container %}
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-4">Computer Science for teachers</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Upcoming events</h2>
        <ul>
          {% for event in upcoming_events %}
            <li class="list-unstyled">
              <a href="{% url 'events:event' event.slug %}">
                {{ event.name }}
              </a>
              ({{ event.start_datetime|date:"j M" }} to {{ event.end_datetime|date:" j M" }})
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock body_container %}
