{% extends "base.html" %}

{% block body_container %}
  <div id="welcome-jumbotron" class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3">Computer Science for teachers</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <p>
          Professional development events either held by or attended by the University of Canterbury Computer Science Education Research Group (creators of <a href="http://csunplugged.org/">CS Unplugged</a> and the <a href="http://www.csfieldguide.org.nz/">CS Field Guide</a>).
        </p>
        <p>
          We also list related third party events that also offer proffesional development opportunities.
        </p>

        {% if upcoming_events %}
          <h2>Upcoming events</h2>
          {% for event in upcoming_events %}
            <div class="d-block mb-2">
              <a href="{{ event.absolute_url }}">
                {{ event.name }}
              </a>
              ({{ event.start_date|date:"j M" }} to {{ event.end_date|date:" j M" }})
              {% if event.third_party %}
                {% include "events/third-party-badge.html" %}
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}

        <p class="mt-3">
          <a href="{% url 'events:index' %}" class="btn btn-primary btn-lg" role="button">View all events</a>
        </p>
      </div>
    </div>
  </div>
{% endblock body_container %}
