{% extends "base.html" %}

{% block title %}{{ event.name }}{% endblock title %}
{% block page_heading %}{{ event.name }}{% endblock page_heading %}

{% block content %}
  <p class="lead">{{ event.start_date }} to {{ event.end_date }}</p>

  {% if event.description %}
    <h3>Description</h3>
    {{ event.description }}
  {% endif %}

  {% if sessions %}
    <h3>Session{{ sessions|pluralize }}</h3>
    <ul class="unstyled">
      {% for session in sessions %}
        <li>
          <a href="{% url 'events:session' event.slug session.slug %}">
            {{ session.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
