{% extends "base.html" %}

{% load static %}

{% block title %}Series{% endblock title %}

{% block page_heading %}Series{% endblock page_heading %}

{% block content %}
  <div class="row">
    {% for series in series_list %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-header h1">
            {% if series.logo %}
              <img src="{% get_media_prefix %}{{ series.logo }}" class="img-inline" alt="{{ series.name }}">
            {% else %}
              {{ series.name }}
            {% endif %}
          </div>
          <div class="card-block">
            {{ series.description|safe|linebreaks }}
            <a href="{% url 'events:series' series.slug %}" class="btn btn-primary">View events in this series</a>
          </div>
          <div class="card-footer text-muted">
            {% with closest_event=series.find_closest_event %}
              {% if closest_event.days_difference == 0 %}
                Event happening now!
              {% elif closest_event.days_difference > 0 %}
                {{ closest_event.start_date|timeuntil }} until the next event
              {% elif closest_event.days_difference < 0 %}
                {{ closest_event.end_date|timesince }} since the last event
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
