{% extends "base.html" %}

{% block title %}{{ session.name }}{% endblock title %}

{% block page_heading %}
  {{ session.name }} <small class="text-muted">{{ event.name }}</small>
{% endblock page_heading %}

{% block content %}
  <p class="lead">{{ session.start_datetime }} to {{ session.end_datetime }}</p>

  {% if locations %}
    <h3>Location{{ locations.count|pluralize }}</h3>
    <ul class="unstyled">
      {% for location in locations %}
        <li><a href="{% url 'events:location' location.slug %}">{{ location.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if session.description %}
    <h3>Description</h3>
    {{ session.description|linebreaks }}
  {% endif %}

  {% if resources %}
    <h3>Resource{{ resources.count|pluralize }}</h3>
    <ul class="unstyled">
      {% for resource in resources %}
        <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
