{% extends "base.html" %}

{% block title %}{{ session.name }}{% endblock title %}

{% block page_heading %}
  {{ session.name }} <small class="text-muted">{{ event.name }}</small>
{% endblock page_heading %}

{% block content_container %}
  <div class="col-12">
    <p class="lead">{{ session.start_datetime }} to {{ session.end_datetime }}</p>
  </div>

  <div class="col-12 col-md-6">
    {% if locations %}
      <h3>Location{{ locations.count|pluralize }}</h3>
      <ul class="unstyled">
        {% for location in locations %}
          <li><a href="{% url 'events:location' location.slug %}">{{ location.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if session.description %}
      <h3>Description</h3>
      {{ session.description|safe|linebreaks }}
    {% endif %}

    {% if resources %}
      <h3>Resource{{ resources.count|pluralize }}</h3>
      <ul class="unstyled">
        {% for resource in resources %}
          <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="col-12 col-md-6">
    {% if session.image %}
      <img src="{{ session.image.url }}" class="img-fluid">
    {% endif %}
  </div>
{% endblock content_container %}
